<% content_for :main_wrapper_class do %>
  sidebar-collapsed
<% end %>

<% content_for :title do %>NPS Dashboard<% end %>

<script type="text/javascript">
  var nps_2_weeks_split = <%= raw @prezi.nps_2_weeks_split.to_json %>;
</script>

<section class='main-content-header'>
  <h1>NPS Dashboard</h1>
</section>

<section class='main-content'>
  <div class='row'>
    <div class='col-sm-8'>
      <div class='panel clearfix'>

        <div class='totals'>
          <div class='nps-total'>
            <%= @prezi.nps_2_weeks_total %>
          </div>
          <div id='chart'></div>
        </div>

        <div class='comments'>

          <h2>Latest comments</h2>
          <div class='row'>
            <div class='col-sm-6 col-sm-offset-1'>

            <% @prezi.latest_comments.each do |comment| %>
              <div class='comment'>
                <div class='rating nps<%= comment.nps %>'><%= comment.rating %></div>
                <div class='text'><%= comment.text %></div>
                <div class='date sub'><%= local_time_ago(comment.created_at) %></div>
              </div>
            <% end %>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class='col-sm-4'>
      <div class='panel trends'>
        <h2>Trending</h2>

        <p class='sub'><i class='fa fa-ft fa-exclamation-triangle'></i>There is not yet enough data to show trends.</p>

      </div>
      <div class='panel comparisons'>
        <h2>Top comparisons</h2>

        <p class='sub'><i class='fa fa-ft fa-exclamation-triangle'></i>There is not yet enough data to show comparisons.</p>
      </div>
    </div>
  </div>
</section>
