<% content_for :title do %>Sign Up<% end %>

<section class='main-content-header'>
  <h1>Sign up</h1>
</section>
<section class='main-content'>
  <div class='panel'>
    <%= bootstrap_form_for resource, as: resource_name, url: registration_path(resource_name), layout: :horizontal, inline_errors: false do |f| %>

        <%= f.email_field :email, autofocus: true %>
        <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off" %>

        <%= f.password_field :password_confirmation, autocomplete: "off" %>

        <%= f.submit "Sign up", class: 'btn btn-dark-blue' %>
    <% end %>

  </div>
</section>
