<h1>Summaries</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
  <% @scenarios.each do |scenario| %>
    <tr>
      <td><%= scenario.title %></td>
      <td><%= scenario.description %></td>
      <td><%= scenario.user_completed_count %> / <%= scenario.user_count %></td>
      <td><%= link_to 'Details', summary_path(scenario) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
