<div class='pageheader'>
  <h1>Summarize your completed scenarios</h1>
</div>
<section id="main-content">
  <table class='table'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Completed</th>
        <th>Show</th>
      </tr>
    </thead>
    <tbody>
    <% @scenarios.each do |scenario| %>
      <tr>
        <td><%= scenario.title %></td>
        <td><%= scenario.description %></td>
        <td><%= scenario.user_completed_count %> / <%= scenario.user_count %></td>
        <td><%= link_to 'Details', summary_path(scenario) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
