<div class='summary'>
  <div class='row'>
    <div class='col-md-8'>
      <h3>
        <a href='<%=summaries_path%>'><i class='fa fa-arrow-circle-left'></i></a>
        <%= @summary.title %>
      </h3>
      <p><%= @summary.description %></p>
    </div>
    <div class='col-md-4'>
      <h4><%= @summary.user_completed_count %> users <small>completed</small></h4>
      <h5><%= @summary.user_count %> users <small>total</small></h5>
      <span class='total_feeling text-success'><i class='fa fa-smile-o'></i> <%= @summary.total_delighted %></span>
      <span class='total_feeling text-danger'><i class='fa fa-frown-o'></i>  <%= @summary.total_confused %></span>
    </div>
  </div>
</div>
<div class='summary_step_container'>
  <% @summary.summary_steps.each do |summary_step| %>
    <div class='summary_step'>
      <div class='row'>
        <div class='col-md-8'>
          <h4><%= summary_step.step_order + 1 %>. <%= summary_step.description %></h4>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-8'>
          <%# convert javascript converts this into nice graph %>
          <%# also links to the video for that user %>
          <div class='summary_time_graph'>
            <script type='application/json'>
              <%= raw summary_step.result_time_bucket_hash.values.to_json %>
            </script>
            <div id='graph<%= summary_step.step_order%>' class='graph' style="width: 100%; height: 150px; background-color: #FFFFFF;" ></div>
          </div>
          <div class='average_time small'>Average time: <%= summary_step.average_completed_seconds || '?' %> seconds</div>
        </div>
        <div class='col-md-4'>
          <%# make ajax call to pull up the full video and transcript %>
          <% summary_step.delighted_feelings.each do |feeling| %>
            <div><a href='#' class='feeling'
              data-scenario-step-id='<%=feeling.scenario_step_id%>'
              data-feeling-at-seconds='<%=feeling.feeling_at_seconds%>'>
                <span class='text-success step_feeling'><i class='fa fa-smile-o'></i></span><!--
                -->...<%= feeling.context_transcription %>...
            </a></div>
          <% end %>
          <% summary_step.frustrated_feelings.each do |feeling| %>
            <div><a href='#' class='feeling'
              data-scenario-step-id='<%=feeling.scenario_step_id%>'
              data-feeling-at-seconds='<%=feeling.feeling_at_seconds%>'>
                <span class='text-danger step_feeling'><i class='fa fa-frown-o'></i></span><!--
                -->...<%= feeling.context_transcription %>...</a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="modal fade" id='summary_video_container'>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class='row'>
          <div class='col-md-6'>
            <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered vjs-has-started"
              controls preload="auto" width="auto" height="400"
              poster="http://video-js.zencoder.com/oceans-clip.png"
              data-setup='{"example_option":true}'>

            </video>
          </div>
          <div class='col-md-6'>
Bacon ipsum dolor amet in incididunt esse chuck fugiat ea. Sirloin cupim porchetta venison, pork ipsum leberkas ground round ball tip turducken bresaola. Consequat eiusmod beef doner, short ribs elit pariatur brisket enim pork ut ad pork chop beef ribs. Pork belly occaecat sunt beef tri-tip aliqua, frankfurter cupim swine quis adipisicing boudin exercitation ut commodo. T-bone bacon occaecat, short ribs alcatra enim tri-tip eu duis proident et veniam. Meatloaf hamburger ut, kevin qui pork loin sint reprehenderit ham ullamco. Pork ut boudin voluptate.

Culpa cow ground round, irure voluptate eu jowl ut beef ribs. Venison adipisicing ground round, ut flank sausage chuck pastrami fugiat magna irure quis eiusmod. Enim consectetur tongue, tempor cupim laborum voluptate magna proident ut bacon chicken eiusmod. Magna lorem ham hock et hamburger brisket, sunt pork chop cow fatback quis rump. Drumstick pancetta quis reprehenderit. Alcatra in anim drumstick t-bone tempor consectetur magna exercitation rump est sirloin sed in pig. Landjaeger ut drumstick et minim, pancetta turkey do velit.

Minim magna sunt do shankle leberkas meatloaf commodo short loin shank alcatra. Nostrud tail bacon pork belly nisi incididunt mollit beef ribs venison chicken laborum labore. Et tail ut prosciutto voluptate ham in excepteur porchetta ball tip frankfurter alcatra dolor duis. Elit quis pastrami, velit labore pig spare ribs.

Frankfurter exercitation duis brisket. Meatball cupidatat bresaola, brisket magna labore excepteur ut ball tip. Tri-tip ribeye irure nulla incididunt flank laborum. Deserunt ribeye hamburger, labore lorem pastrami capicola reprehenderit chicken cow consequat tri-tip exercitation pork belly turkey. Ut est jerky sirloin exercitation tenderloin aute nisi deserunt cupidatat. Flank filet mignon irure id cillum spare ribs duis, beef ribs sirloin. Beef turkey laboris cillum labore cupidatat irure flank kevin.
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
