<% content_for :main_wrapper_class do %>
  sidebar-collapsed
<% end %>

<% content_for :title do %>NPS Comparisons by category<% end %>

<script type="text/javascript">
  var data = <%= raw @prezi.data_json %>;
  var nps_by_category = <%= raw @prezi.nps_by_category_json %>;
</script>

<section class='main-content-header'>
  <h1>NPS Comparisons by category</h1>
</section>

<section class='main-content'>
  <div class='row'>
    <div class='col-sm-3'>
      <div class='panel comparison'>
        <h3>Category:</h3>
        <select class="selectpicker form-control" id='select-category'>
          <option <%= 'selected' if @prezi.category == 'region' %> name='category' value='region'>Region</option>
          <option <%= 'selected' if @prezi.category == 'country' %> name='category' value='country'>Country</option>
        </select>
      </div>
      <div class='panel filters'>
        <%= bootstrap_form_for :filters do |f| %>
          <h3>Filters:</h3>

          <div class='sub'>DATE</div>
          <select class="selectpicker form-control" id='select-date' data-field='date'>
            <option <%= 'selected' if params[:date] == 'past-month' %> name='date' value='past-1-month'>past 1 month</option>
            <option <%= 'selected' if params[:date] == 'past-3-months' %> name='date' value='past-3-months'>past 3 months</option>
            <option <%= 'selected' if params[:date] == 'past-12-months' %> name='date' value='past-12-months'>past 12 months</option>
          </select>

          <% if @prezi.category != 'region' %>
            <div class='sub'>REGION</div>
            <div class='filter' data-field='region'>
              <% @prezi.regions.each do |region| %>
                <%= f.check_box region, {name: 'region', checked: @prezi.checked(:region, region), label: region}, region %>
              <% end %>
            </div>
          <% end %>
          <% if @prezi.category != 'country' %>
            <div class='sub'>COUNTRY</div>
            <div class='filter' data-field='country'>
              <% @prezi.countries.each do |country| %>
                <%= f.check_box country, {name: 'country', checked: @prezi.checked(:country, country), label: country}, country %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='col-sm-9'>
      <div class='panel'>
        <div class='chart-toggle-btns'>
          <input id='toggle-breakdown' type="checkbox"></input>
        </div>
        <div id='chart'>
          <!-- insert chart here with AmCharts.makeChart("chart", {...})-->
        </div>
      </div>
    </div>
  </div>
</section>
