<script id="new-response-template" type="text/x-handlebars-template">
  {{#each responses}}
  <a class='panel' href='{{result_video_path}}'>
    <%= bsh_split_panel 'col-sm-8' %>
    <div class='row'>
      <div class='col-sm-8 title-container'>
        <h1><%= '{{scenario_title}}' %></h1>
        <p class='sub'>completed by <%= '{{email}}' %> moments ago (<%= pp_plural_with_number('{{scenario_step_count}}', 'step') %>)</p>
      </div>
      <div class='col-sm-4'>
        <div class='row counts-container'>
          <div class='col-xs-6'>
            <h1><i class='feeling-delighted'></i><%= '{{total_delighted}}' %></h1>
            <p class='sub'><%= pp_plural('{{total_delighted}}', 'moment') %></p>
          </div>
          <div class='col-xs-6'>
            <h1><i class='feeling-confused'></i><%= '{{total_confused}}' %></h1>
            <p class='sub'><%= pp_plural('{{total_confused}}', 'moment') %></p>
          </div>
        </div>
      </div>
    </div>
  </a>
  {{/each}}
</script>
