<% content_for :title do %>
  Aircrafts
<% end %>

<section class='main-content-header'>
  <a id='btn-add-aircraft' href='<%= new_aircraft_path %>' class='btn btn-med btn-dark-grey pull-right'><i class='fa fa-ft fa-plus-circle'></i>New Aircraft</a>
  <h1><%= content_for :title %></h1>
</section>

<section class='main-content'>
  <% @aircrafts.each do |aircraft| %>
    <a class='panel aircraft-panel' href='<%= aircraft_path(aircraft) %>'>
      <h1>MSN <%= aircraft.msn %></h1>
      <p class='sub'><%= aircraft.aircraft_type %>, operated by operated by Cape Town Airways</p>
    </a>
  <% end %>
</section>
