<% content_for :title do %>
  Analysis
<% end %>

<% content_for :nav_left do %>
  <%= render 'nav/analysis' %>
<% end %>

<script type='text/javascript'>
  var data = <%= raw @prezi.fleets_json %>;
  var filters_hash = <%= raw @prezi.filters_hash.to_json %>;
</script>

<section class='main-content-header'>
  <h1><%= content_for :title %>
    <a class='btn btn-dark-blue pull-right hidden' id='btn-save-img'>Save as PNG</a>
  </h1>
</section>

<section class='main-content'>
  <div class='ctn-selected-attributes row'>
    <div class='col-sm-4'>
      <div class='filter-attributes strong'>FILTERS</div>
      <ul id='filters'></ul>
    </div>
    <div class='col-sm-4'>
      <div class='row-attributes strong'>ROWS</div>
      <ul id='rows'>
        <li data-id='Aircraft Model'>Aircraft Model<i class='fa fa-caret-down pull-right'></i></li>
      </ul>
    </div>

    <div class='col-sm-4'>
      <div class='column-attribtues strong'>COLUMNS</div>
      <ul id='columns'>
        <li data-id='Aircraft Status'>Aircraft Status<i class='fa fa-caret-down pull-right'></i></li>
      </ul>
    </div>
  </div>

  <div id='pivot-container'></div>
</section>

<% @prezi.filters_hash.each do |attribute, values| %>
  <div class='pvtFilterBox' data-attribute='<%= attribute %>' style='display: none;'>
    <h4><%= attribute %> (<%= values.count %>)</h4>
    <div>
      <button class='btn btn-medium-blue btn-select-all pvtFilterBtn' type='button'>Select All</button>
      <button class='btn btn-medium-blue btn-select-none pvtFilterBtn' type='button'>Select None</button>
      <input type='text' class='form-control pvtSearch' placeholder='Filter results'>
    </div>
    <div class='pvtCheckContainer'>
      <% values.each do |value| %>
        <p>
          <label>
            <input type='checkbox' class='pvtFilter' data-attribute='<%= attribute %>' checked='checked' />
            <span><%= value %></span>
          </label>
        </p>
      <% end %>
    </div>
    <div><button class='btn btn-medium-blue btn-update-filter' type='button'>OK</button></div>
  </div>
<% end %>
