<tr class='fleet-line'>
  <td><%= fleet.aircraft_status %></td>
  <td><%= fleet.aircraft_type %></td>
  <td><%= fleet.serial_number %></td>
  <td><%= fleet.build_year %></td>
  <td><%= fleet.operator %></td>
</tr>
