<% content_for :title do %>
  Fleet Database
<% end %>

<section class='main-content-header'>
  <h1>
    <button class="btn hide" id="btn-expand-sidebar"><i class="fa fa-bars"></i>Add Filter</button>
    <%= content_for :title %>
  </h1>
</section>

<section class='main-content'>
  <!-- <div class='panel filters-container'> -->
    <div class='filter-container'></div>
    <!-- <div>(<span id='result-count'><%= @prezi.result_count %></span> results found)</div> -->
  <!-- </div> -->

  <div class='results-containter'>
    <div class='table-responsive fleet-table'>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th data-type="serial_number" data-sorted="false">MSN<i class="fa fa-caret-down"></i></th>
            <th data-type="aircraft_status" data-sorted="false">Aircraft Status<i class="fa fa-caret-down"></i></th>
            <th data-type="aircraft_manufacturer" data-sorted="false">Manufacturer<i class="fa fa-caret-down"></i></th>
            <th data-type="aircraft_type" data-sorted="false">Aircraft Type<i class="fa fa-caret-down"></i></th>
            <!-- <th data-type="engine_type" data-sorted="false">Engine Type<i class="fa fa-caret-down"></i></th> -->
            <!-- <th data-type="manager" data-sorted="false">Manager<i class="fa fa-caret-down"></i></th> -->
            <th data-type="operator" data-sorted="false">Operator<i class="fa fa-caret-down"></i></th>
            <!-- <th data-type="owner" data-sorted="false">Owner<i class="fa fa-caret-down"></i></th> -->
            <!-- <th data-type="operator_country" data-sorted="false">Country<i class="fa fa-caret-down"></i></th> -->
            <th class="btn-table-settings">
              <button type="button" data-toggle="dropdown" data-submenu="" aria-expanded="true">
                <i class="fa fa-cog fa-2x"></i>
              </button>

              <ul class="dropdown-menu dropdown-menu-right">
                <li><a tabindex="0" id="btn-export-csv"><i class="fa fa-long-arrow-down"></i>Download CSV</a></li>
                <li class="divider"></li>
                <li class="dropdown-submenu">
                  <a tabindex="0"><i class="fa fa-bars"></i>Show results</a>
                  <ul class="dropdown-menu" id="select-display-count">
                    <li><a tabindex="0">15</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="0" selected="selected">25</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="0">50</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="0">All</a></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li><a tabindex="0"><i class="fa fa-pencil-square-o"></i>Edit mode</a></a></li>
              </ul>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @prezi.fleets.each do |fleet| %>
            <tr class='fleet-line'>
              <td name='serial_number' value='<%= fleet.serial_number %>'><a href='/fleets/<%= fleet.hashid %>'><%= fleet.serial_number %></a></td>
              <td name='aircraft_status' value='<%= fleet.aircraft_status %>'><%= fleet.aircraft_status %></td>
              <td name='aircraft_manufacturer' value='<%= fleet.aircraft_manufacturer %>'><%= fleet.aircraft_manufacturer %></td>
              <td name='aircraft_type' value='<%= fleet.aircraft_type %>'><%= fleet.aircraft_type %></td>
              <!-- <td name='engine_type' value='<%= fleet.engine_type %>'><%= fleet.engine_type %></td> -->
              <!-- <td name='manager' value='<%= fleet.manager %>'><%= fleet.manager %></td> -->
              <td name='operator' value='<%= fleet.operator %>'><%= fleet.operator %></td>
              <!-- <td name='owner' value='<%= fleet.owner %>'><%= fleet.owner %></td> -->
              <!-- <td name='operator_country' value='<%= fleet.operator_country %>'><%= fleet.operator_country %></td> -->
              <td></td>
            </tr>
          <% end %>
        </tbody>
        <%= render partial: 'fleets/partials/fleet_template' %>
      </table>
    </div>
  </div>

</section>
