<% content_for :title do %>
  Fleet Database
<% end %>

<section class='main-content-header'>
  <h1><%= content_for :title %></h1>
</section>

<section class='main-content'>
  <div class='panel filters-container'>

    <div class='filter-select-container'>
      <h3>Add a filter:</h3>
      <select class='selectpicker' data-live-search="true" id='select-main-filters' title='Select'>
        <% @prezi.main_filters.each do |filter| %>
          <option data-type="<%= filter %>"><%= filter.titleize %></option>
        <% end %>
      </select>
      <span>is</span>
      <select class='selectpicker' data-live-search="true" id='select-sub-filters' title='Select'></select>
      <a id='btn-add-filter' class='btn btn-dark-blue'>Add Filter</a>
    </div>

    <div class='filter-items-container hide'><h3>Filtered by:</h3></div>

    <div>(<span id='result-count'><%= @prezi.result_count %></span> results found)</div>
  </div>

  <div class='results-containter'>
    <div class="tab-pane active panel" id="list">
      <p class="container-export">
        Show
        <select class="selectpicker" id="select-display-count">
          <option>25</option>
          <option>50</option>
          <option>100</option>
          <option>All</option>
        </select>
        <a class="btn btn-dark-blue pull-right" id="btn-export-csv">Export to CSV</a>
      </p>

      <div class='table-responsive'>
        <table class='table fleet-table'>
          <thead>
            <tr>
              <th class='col-md-2' data-type="serial_number" data-sorted="false">Serial Number</th>
              <th class='col-md-2' data-type="aircraft_status" data-sorted="false">Aircraft Status</th>
              <th class='col-md-2' data-type="aircraft_type" data-sorted="false">Aircraft Type</th>
              <th class='col-md-2' data-type="build_year" data-sorted="false">Build Year</th>
              <th class='col-md-3' data-type="operator" data-sorted="false">Operator</th>
            </tr>
          </thead>
          <tbody>
            <% @prezi.fleets.each do |fleet| %>
              <tr class='fleet-line'>
                <td data-type='aircraft_status'><a href='/fleets/<%= fleet.hashid %>'><%= fleet.serial_number %></a></td>
                <td data-type='aircraft_status'><%= fleet.aircraft_status %></td>
                <td data-type='aircraft_type'><%= fleet.aircraft_type %></td>
                <td data-type='build_year'><%= fleet.build_year %></td>
                <td data-type='operator'><%= fleet.operator %></td>
              </tr>
            <% end %>
          </tbody>
          <%= render partial: 'fleets/partials/fleet_template' %>
        </table>
      </div>
    </div>
  </div>

</section>
