<% content_for :title do %>
  Fleet Database
<% end %>

<section class='main-content-header'>
  <h1>
    <button class="btn hide" id="btn-expand-sidebar"><i class="fa fa-bars"></i>Add Filter</button>
    <%= content_for :title %>
  </h1>
</section>

<section class='main-content'>
  <!-- <div class='panel filters-container'> -->
    <div class='filter-container'></div>
    <!-- <div>(<span id='result-count'><%= @prezi.result_count %></span> results found)</div> -->
  <!-- </div> -->

  <div class='results-containter'>
    <div class="tab-pane active panel" id="list">
      <p class="container-export">
        Show
        <select class="selectpicker" id="select-display-count">
          <option>25</option>
          <option>50</option>
          <option>100</option>
          <option>All</option>
        </select>
        <a class="btn btn-dark-blue pull-right" id="btn-export-csv">Export to CSV</a>
      </p>

      <div class='table-responsive'>
        <table class='table fleet-table'>
          <thead>
            <tr>
              <th class='col-md-2' data-type="serial_number" data-sorted="false">Serial Number</th>
              <th class='col-md-2' data-type="aircraft_status" data-sorted="false">Aircraft Status</th>
              <th class='col-md-2' data-type="aircraft_type" data-sorted="false">Aircraft Type</th>
              <th class='col-md-2' data-type="aircraft_manufacturer" data-sorted="false">Manufacturer</th>
              <th class='col-md-3' data-type="operator" data-sorted="false">Operator</th>
            </tr>
          </thead>
          <tbody>
            <% @prezi.fleets.each do |fleet| %>
              <tr class='fleet-line'>
                <td name='serial_number' value='<%= fleet.serial_number %>'><a href='/fleets/<%= fleet.hashid %>'><%= fleet.serial_number %></a></td>
                <td name='aircraft_status' value='<%= fleet.aircraft_status %>'><%= fleet.aircraft_status %></td>
                <td name='aircraft_type' value='<%= fleet.aircraft_type %>'><%= fleet.aircraft_type %></td>
                <td name='aircraft_manufacturer' value='<%= fleet.aircraft_manufacturer %>'><%= fleet.aircraft_manufacturer %></td>
                <td name='operator' value='<%= fleet.operator %>'><%= fleet.operator %></td>
              </tr>
            <% end %>
          </tbody>
          <%= render partial: 'fleets/partials/fleet_template' %>
        </table>
      </div>
    </div>
  </div>

</section>
