<% content_for :title do %>
  Fleet Database
<% end %>

<section class='main-content-header'>
  <h1><%= content_for :title %></h1>
</section>

<section class='main-content'>
  <div class='panel filters-container'>

    <div class='filter-select-container'>
      <h3>Add a filter:</h3>

      <select class='selectpicker' id='select-main-filters' title='Select'>
        <% @prezi.main_filters.each do |filter| %>
        <option><%= filter %></option>
        <% end %>
      </select>

      <span>is</span>

      <select class='selectpicker' id='select-sub-filters' title='Select'>
      </select>

      <a id='btn-add-filter' class='btn btn-dark-blue'>Add Filter</a>
    </div>

    <div class='filter-items-container'>
    </div>

  </div>
  <div class='panel'>
    <div class='table-responsive'>
      <table class='table table-hover fleet-table'>
        <tr>
          <th>Aircraft Status</th>
          <th>Aircraft Type</th>
          <th>Serial Number</th>
          <th>Build Year</th>
          <th>Operator</th>
        </tr>
        <% @prezi.fleets.each do |fleet| %>
          <tr class='fleet-line'>
            <td><%= fleet.aircraft_status %></td>
            <td><%= fleet.aircraft_type %></td>
            <td><%= fleet.serial_number %></td>
            <td><%= fleet.build_year %></td>
            <td><%= fleet.operator %></td>
          </tr>
        <% end %>
        <%= render partial: 'fleets/partials/fleet_template' %>
      </table>
    </div>
  </div>
</section>
