<% content_for :title do %>
  MSN <%= @prezi.fleet.msn %>
<% end %>

<section class='main-content-header'>
  <h1><%= content_for :title %></h1>
  <p class='sub'><%= @prezi.fleet.aircraft_model %>, operated by <%= @prezi.fleet.airline %></p>

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#summary" aria-controls="summary" role="pill" data-toggle="pill">SUMMARY</a></li>
    <li role="presentation"><a href="#team" aria-controls="team" role="pill" data-toggle="pill">TEAM</a></li>
    <li role="presentation"><a href="#parties" aria-controls="parties" role="pill" data-toggle="pill">PARTIES</a></li>
    <li role="presentation"><a href="#operational" aria-controls="operational" role="pill" data-toggle="pill">OPERATIONAL</a></li>
    <li role="presentation"><a href="#weights" aria-controls="weights" role="pill" data-toggle="pill">WEIGHTS</a></li>
    <li role="presentation"><a href="#incidents" aria-controls="incidents" role="pill" data-toggle="pill">INCIDENTS</a></li>
  </ul>
</section>

<section class='main-content'>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active row" id="summary">
      <div class="panel panel-default ctn-fleet-summary col-md-6">
        <!-- Panel heading -->
        <div class="panel-heading">
          <p>AIRCRAFT SUMMARY</p>
        </div>

        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item row no-gutter">
            <div class="col-sm-5 list-item-label">MSN</div>
            <div class="col-sm-7 list-item-content"><%= @prezi.fleet.msn %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-5 list-item-label">REGISTRATION</div>
            <div class="col-sm-7 list-item-content"><%= @prezi.fleet.registration %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-5 list-item-label">MANUFACTURER</div>
            <div class="col-sm-7 list-item-content"><%= @prezi.fleet.aircraft_manufacturer %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-5 list-item-label">MODEL</div>
            <div class="col-sm-7 list-item-content"><%= @prezi.fleet.aircraft_model %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-5 list-item-label">VERSION</div>
            <div class="col-sm-7 list-item-content"><%= @prezi.fleet.aircraft_version %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-5 list-item-label">ENGINE MODEL</div>
            <div class="col-sm-7 list-item-content"><%= @prezi.fleet.engine_model %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-5 list-item-label">ENGINE VERSION</div>
            <div class="col-sm-7 list-item-content"><%= @prezi.fleet.engine_version %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-5 list-item-label">SEATS</div>
            <div class="col-sm-7 list-item-content"><%= @prezi.fleet.seats %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-5 list-item-label">MTOW</div>
            <div class="col-sm-7 list-item-content"><%= @prezi.fleet.mtow %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-5 list-item-label">TOTAL FLIGHT HOURS</div>
            <div class="col-sm-7 list-item-content"><%= @prezi.fleet.hours_cumulative %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-5 list-item-label">TOTAL FLIGHT CYCLES</div>
            <div class="col-sm-7 list-item-content"><%= @prezi.fleet.cycles_cumulative %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-5 list-item-label">AIRLINE</div>
            <div class="col-sm-7 list-item-content"><%= @prezi.fleet.airline %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-5 list-item-label">OWNER</div>
            <div class="col-sm-7 list-item-content"><%= @prezi.fleet.owner %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-5 list-item-label">AIRLINE COUNTRY</div>
            <div class="col-sm-7 list-item-content"><%= @prezi.fleet.airline_country %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-5 list-item-label">BUILD YEAR</div>
            <div class="col-sm-7 list-item-content"><%= @prezi.fleet.build_year %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-5 list-item-label">AIRCRAFT STATUS</div>
            <div class="col-sm-7 list-item-content"><%= @prezi.fleet.aircraft_status %></div>
          </li>
        </ul>

      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="team">
      <div class="panel">
        Team
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="parties">
      <div class="panel">
        Parties
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="operational">
      <div class="panel">
        Operational
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="weights">
      <div class="panel">
        Weights
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="incidents">
      <div class="panel">
        Incidents
      </div>
    </div>
  </div>
</section>
