<% content_for :title do %>
  MSN <%= @prezi.fleet.msn %>
<% end %>

<% content_for :main_wrapper_class do %>
  sidebar-collapsed
<% end %>

<section class='main-content-header'>
  <h1><%= content_for :title %></h1>
  <p class='sub'><%= @prezi.fleet.aircraft_manufacturer %> <%= @prezi.fleet.aircraft_model %>, operated by <%= @prezi.fleet.operator %></p>

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#aircraft-details" aria-controls="aircraft-details" role="pill" data-toggle="pill">AIRCRAFT DEATAILS</a></li>
    <li role="presentation"><a href="#operator-history" aria-controls="operator-history" role="pill" data-toggle="pill">OPERATOR HISTORY</a></li>
  </ul>
</section>

<section class='main-content'>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="aircraft-details">
      <div class="panel panel-default ctn-aircraft-details">
        <!-- Panel heading -->
        <div class="panel-heading">
          <p>AIRCRAFT DETAILS</p>

          <%= bootstrap_form_for :fleet, url: fleet_path(@prezi.fleet.hashid), method: :patch do |f| %>
            <%= f.hidden_field :update_type, value: 'aircraft' %>
            <%= f.submit "Submit Aircraft Correction", class: 'btn btn-dark-blue' %>
          <% end %>

          <%= bootstrap_form_for :aircraft_history, url: fleet_history_path(@prezi.fleet.hashid, 1), method: :patch do |f| %>
            <%= f.hidden_field :update_type, value: 'aircraft_history' %>
            <%= f.submit "Submit Aircraft History Correction", class: 'btn btn-dark-blue' %>
          <% end %>

          <%= bootstrap_form_for :aircraft_history, url: fleet_history_index_path(@prezi.fleet.hashid) do |f| %>
            <%= f.hidden_field :update_type, value: 'aircraft_history' %>
            <%= f.submit "Create Aircraft History", class: 'btn btn-dark-blue' %>
          <% end %>

          <%= bootstrap_form_for :aircraft_history, url: fleet_history_path(@prezi.fleet.hashid, 1), method: :delete do |f| %>
            <%= f.hidden_field :update_type, value: 'aircraft_history' %>
            <%= f.submit "Delete Aircraft History Correction", class: 'btn btn-dark-blue' %>
          <% end %>

        </div>

        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item row no-gutter">
            <div class="col-sm-2 list-item-label">MSN</div>
            <div class="col-sm-10 list-item-content"><%= @prezi.fleet.msn %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-2 list-item-label">REGISTRATION</div>
            <div class="col-sm-10 list-item-content"><%= @prezi.fleet.registration %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-2 list-item-label">LINE NUMBER</div>
            <div class="col-sm-10 list-item-content"><%= @prezi.fleet.line_number %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-2 list-item-label">AIRCRAFT STATUS</div>
            <div class="col-sm-10 list-item-content"><%= @prezi.fleet.aircraft_status %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-2 list-item-label">BUILD YEAR</div>
            <div class="col-sm-10 list-item-content"><%= @prezi.fleet.build_year %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-2 list-item-label">AIRCRAFT AGE</div>
            <div class="col-sm-10 list-item-content"><%= @prezi.fleet.aircraft_age %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-2 list-item-label">MANUFACTURER</div>
            <div class="col-sm-10 list-item-content"><%= @prezi.fleet.aircraft_manufacturer %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-2 list-item-label">MODEL</div>
            <div class="col-sm-10 list-item-content"><%= @prezi.fleet.aircraft_model %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-2 list-item-label">TYPE</div>
            <div class="col-sm-10 list-item-content"><%= @prezi.fleet.aircraft_type %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-2 list-item-label">SERIES</div>
            <div class="col-sm-10 list-item-content"><%= @prezi.fleet.aircraft_series %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-2 list-item-label">ENGINE MODEL</div>
            <div class="col-sm-10 list-item-content"><%= @prezi.fleet.engine_model %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-2 list-item-label">ENGINE VARIANT</div>
            <div class="col-sm-10 list-item-content"><%= @prezi.fleet.engine_variant %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-2 list-item-label">SEATS CONFIGURATION</div>
            <div class="col-sm-10 list-item-content"><%= @prezi.fleet.seats_configuration %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-2 list-item-label">OPERATOR</div>
            <div class="col-sm-10 list-item-content"><%= @prezi.fleet.operator %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-2 list-item-label">OPERATOR COUNTRY</div>
            <div class="col-sm-10 list-item-content"><%= @prezi.fleet.operator_country %></div>
          </li>
          <li class="list-group-item row no-gutter">
            <div class="col-sm-2 list-item-label">OPERATOR REGION</div>
            <div class="col-sm-10 list-item-content"><%= @prezi.fleet.operator_region %></div>
          </li>
        </ul>

      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="operator-history">
      <div class="panel">
        Operator History
      </div>
    </div>
  </div>
</section>
