<% content_for :title do %>
  Aircraft
<% end %>

<% content_for :main_wrapper_class do %>
  sidebar-collapsed
<% end %>

<section class='main-content-header'>
  <h1>
    <a class='btn' id='btn-return-to-index' href='<%= request.referrer %>'><span><i class='fa fa-arrow-left'></i>Back</span></a>
    <p><%= content_for :title %></p>
  </h1>
</section>

<section class='main-content'>
  <div class="aircraft-summary-container">
    <table class='table'>
      <thead>
        <tr>
          <th>Registration</th>
          <th>Manufacturer</th>
          <th>Model</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @prezi.aircraft.registration %></td>
          <td><%= @prezi.aircraft.aircraft_manufacturer %></td>
          <td><%= @prezi.aircraft.aircraft_model %></td>
          <td><%= @prezi.aircraft.aircraft_status %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class='row'>
    <div class="col-sm-6">
      <div class="aircraft-details-container">
        <table class='table'>
          <thead>
            <tr>
              <th>Aircraft Details</th>
              <th>
                <%= bootstrap_form_for :aircraft, url: aircraft_path(@prezi.aircraft.hashid), html: {class: 'form-submit-changes' }, method: :patch do |f| %>
                  <%= f.hidden_field :update_type, value: 'aircraft' %>
                  <%= f.submit "Submit changes", class: 'btn btn-submit-changes' %>
                <% end %>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>MSN</td>
              <td><%= @prezi.aircraft.msn %></td>
            </tr>
            <tr>
              <td>Line Number</td>
              <td><%= @prezi.aircraft.msn %></td>
            </tr>
            <tr>
              <td>Build Year</td>
              <td><%= @prezi.aircraft.build_year %></td>
            </tr>
            <tr>
              <td>Aircraft Age</td>
              <td><%= @prezi.aircraft.aircraft_age %></td>
            </tr>
            <tr>
              <td>Type</td>
              <td><%= @prezi.aircraft.aircraft_type %></td>
            </tr>
            <tr>
              <td>Series</td>
              <td><%= @prezi.aircraft.aircraft_series %></td>
            </tr>
            <tr>
              <td>Engine Model</td>
              <td><%= @prezi.aircraft.engine_model %></td>
            </tr>
            <tr>
              <td>Engine Variant</td>
              <td><%= @prezi.aircraft.engine_variant %></td>
            </tr>
            <tr>
              <td>Seats Configuration</td>
              <td><%= @prezi.aircraft.seats_configuration %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="aircraft-details-container">
        <table class='table'>
          <thead>
            <tr>
              <th>Operator Details</th>
              <th>
                <%= bootstrap_form_for :aircraft, url: aircraft_path(@prezi.aircraft.hashid), html: {class: 'form-submit-changes' }, method: :patch do |f| %>
                  <%= f.hidden_field :update_type, value: 'aircraft' %>
                  <%= f.submit "Submit changes", class: 'btn btn-submit-changes' %>
                <% end %>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name</td>
              <td><%= @prezi.aircraft.operator %></td>
            </tr>
            <tr>
              <td>Country</td>
              <td><%= @prezi.aircraft.operator_country %></td>
            </tr>
            <tr>
              <td>Region</td>
              <td><%= @prezi.aircraft.operator_region %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</section>
