<% content_for :title do %>
  Aircraft
<% end %>

<% content_for :main_wrapper_class do %>
  sidebar-collapsed
<% end %>

<section class='main-content-header'>
  <h1>
    <a class='btn' id='btn-return-to-index' href='<%= request.referrer %>'><span><i class='fa fa-arrow-left'></i>Back</span></a>
    <p><%= content_for :title %></p>
  </h1>
</section>

<section class='main-content'>
  <div class="aircraft-summary-container">
    <table class='table'>
      <thead>
        <tr>
          <th>MSN</th>
          <th>Registration</th>
          <th>Manufacturer</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @prezi.aircraft.msn %></td>
          <td><%= @prezi.aircraft.registration %></td>
          <td><%= @prezi.aircraft.aircraft_manufacturer %></td>
          <td><%= @prezi.aircraft.aircraft_status %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class='aircraft-details-container row'>
    <div class="col-sm-6">
      <div class="container-header">
        <span class="header-title">Aircraft Details</span>
        <button class='btn btn-submit-changes pull-right' data-toggle='modal' data-target='#aircraft-update-container'>Submit Changes</button>
      </div>
      <table class='table'>
        <tbody>
          <tr>
            <td>MSN</td>
            <td><%= @prezi.aircraft.msn %></td>
          </tr>
          <tr>
            <td>Aircraft Status</td>
            <td><%= @prezi.aircraft.aircraft_status %></td>
          </tr>
          <tr>
            <td>Registration</td>
            <td><%= @prezi.aircraft.registration %></td>
          </tr>
          <tr>
            <td>Line Number</td>
            <td><%= @prezi.aircraft.line_number %></td>
          </tr>
          <tr>
            <td>Aircraft Model</td>
            <td><%= @prezi.aircraft.aircraft_model %></td>
          </tr>
          <tr>
            <td>Aircraft Type</td>
            <td><%= @prezi.aircraft.aircraft_type %></td>
          </tr>
          <tr>
            <td>Aircraft Series</td>
            <td><%= @prezi.aircraft.aircraft_series %></td>
          </tr>
          <tr>
            <td>Build Year</td>
            <td><%= @prezi.aircraft.build_year %></td>
          </tr>
          <tr>
            <td>Aircraft Age</td>
            <td><%= @prezi.aircraft.aircraft_age %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-6">
      <div class="container-header">
        <span class="header-title">Operator Details</span>
      </div>
      <table class='table'>
        <tbody>
          <tr>
            <td>Name</td>
            <td><%= @prezi.aircraft.operator %></td>
          </tr>
          <tr>
            <td>Country</td>
            <td><%= @prezi.aircraft.operator_country %></td>
          </tr>
          <tr>
            <td>Region</td>
            <td><%= @prezi.aircraft.operator_region %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="aircraft-history-container">
    <div class="container-header">
      <span class="header-title">Aircraft History</span>
      <button class='btn btn-submit-changes pull-right' data-toggle='modal' data-target='#aircraft-update-container'>Submit Changes</button>
    </div>
  </div>
</section>

<div class="modal" id='aircraft-update-container' tabindex='-1'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class='ctn-modal-header'>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class='ctn-title'></h2>
      </div>
      <%= render partial: 'aircraft/partials/aircraft_update_form' %>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
