<h1>This is the User Scenarios list</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Status</th>
      <th>Company</th>
      <th>Title</th>
      <th>Description</th>
      <th>Start</th>
    </tr>
  </thead>
  <tbody>
  <% @user_scenarios.each do |user_scenario| %>
    <tr>
      <td><%= user_scenario.status %></td>
      <td><%= user_scenario.company_name %></td>
      <td><%= user_scenario.title %></td>
      <td><%= user_scenario.description %></td>
      <td><%= link_to 'Start', scenario_path(user_scenario.scenario) %></td>
    </tr>
  <% end %>
  <% if @user_scenarios.blank? %>
    <tr>
      <td colspan="3">
        No scenarios assigned to you yet
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
