<% content_for :main_wrapper_class do %>
  sidebar-collapsed
<% end %>

<% content_for :title do %>Settings<% end %>

<section class='main-content-header'>
  <h1>Settings</h1>
</section>

<section class='main-content'>

  <div class='row'>
    <div class='col-sm-3'>
      <div class='panel'>
        <ul class="nav nav-pills nav-stacked">
          <%= render 'nav/settings' %>
        </ul>
      </div>
    </div>
    <div class='col-sm-8'>
      <div class="row panel">
        <div class="col-sm-6 col-sm-push-5">
          <div class='survey clearfix'>
            <div class='close'>X</div>
            <div class='nps'>
              <div class='text'>How likely is it that you would recommend <span id='company-product-name'>us</span><br/>to a friend or colleague?</div>
              <div class='likeliness'>
                <div>0</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
              </div>
              <span class='not-likely'>Not likely</span>
              <span class='likely'>Very likely</span>
            </div>
            <div class='why' style='display:none'>
              <div class='text'>Are there any particular reasons why?</div>
              <textarea rows='3'></textarea>
              <span class='submit'>Submit</span>
              <span class='nope'>Nope</span>
            </div>
            <div class='thanks' style='display:none'>
              <div>Thanks for your feedback.  We will use it to keep on improving the service for you.</div>
            </div>
          </div>
        </div>

        <div class='col-sm-5 col-sm-pull-6'>
          <%= bootstrap_form_for :survey_settings, url: settings_view_path(@survey_settings), method: :patch, inline_errors: false do |f| %>
            <div>
              <%= f.text_field :style_elements, name: 'style_elements[company_product_name]', 'data-customize-field': 'company-product-name', label: 'Company/product name', autofocus: true %>
            </div>
            <div>
              <a href='<%= root_path %>' class='btn btn-grey'>Cancel</a>
              <%= f.submit "Save Changes", class: 'btn btn-dark-blue' %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</section>
