<section class='main-content-header draft-header'>
  <div class='row'>
    <h3 class="input-title">Title:</h3>
    <div class='ctn-title'>
      <%= f.text_field :title, hide_label: true, placeholder: "eg. Dogfood a feature", class: 'input-lg' %>
    </div>

    <div class='ctn-template'>
      <div class="btn-group" id='btn-template-group'>
        <a class="btn btn-light-blue dropdown-toggle h4" data-toggle="dropdown" aria-expanded="false">
          Start from a template<span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <% ::Template.product.each do |template| %>
            <li><a href='?template=<%=template.value%>'><%=template.display%></a></li>
          <% end %>
          <li class="divider"></li>
          <% ::Template.marketing.each do |template| %>
            <li><a href='?template=<%=template.value%>'><%=template.display%></a></li>
          <% end %>
        </ul>
      </div>
      <p>or just start typing below.</p>
    </div>
  </div>

</section>
<section class="main-content draft-content">

  <div class='panel'>

    <div class='summary-container'>
      <h3 class="input-title">Description:</h3>
      <%= f.text_area :description, rows: 3, hide_label: true, placeholder: "eg. We could really use your feedback on feature XYZ which helps you XYZ. Your candid feedback is critical to making the product even better and we're very thankful of your time!.
" %>
    </div>

    <div class='steps-container'>
      <h3 class="input-title">Steps:</h3>
      <div id='ctn-step-list'><!-- insert new steps here --></div>
    </div>

    <div class='clearfix buttons-container'>
      <a href='<%=
        if @scenario.new_record?
          results_path
        elsif @scenario.drafts?
          drafts_path
        else
          result_path(@scenario)
        end
      %>' class='btn btn-grey pull-left btn-med'>Cancel</a>
      
      <% if @scenario.persisted? && @scenario.drafts? %>
        <a class='btn btn-light-blue pull-left btn-med strong' id="btn-delete">Discard Draft</a>
      <% end %>

      <% if @scenario.drafts? %>
        <div class="pull-right">
          <%= f.submit 'Save as a draft', name: 'draft', class: 'btn btn-medium-blue btn-med strong' %><!--
          --><%= f.submit 'Create the study', name: 'publish', class: 'btn btn-dark-blue btn-med strong' %>
        </div>
      <% else %>
        <%= f.submit 'Update the study', name: 'update', class: 'btn btn-dark-blue pull-right btn-med strong' %>
      <% end %>
    </div>

  </div>
</section>

<%= render partial: 'utility/delete_modal', locals: {controller: 'draft'} %>
