<% content_for :main_wrapper_class do %>
  sidebar-collapsed
<% end %>

<% content_for :title do %>NPS Trends over time<% end %>

<script type="text/javascript">
  var data = <%= raw @prezi.data_json %>;
  var nps_by_date_json = <%= raw @prezi.nps_by_date_json %>;
</script>

<section class='main-content-header'>
  <h1>NPS Trends over time</h1>
</section>

<section class='main-content'>
  <div class='row'>
    <div class='col-sm-3'>
      <div class='panel filters'>
        <%= bootstrap_form_for :filters do |f| %>
          <h3>Filters</h3>

          <div class='sub'>REGION</div>
          <div class='filter' data-field='region'>
            <% @prezi.regions.each do |region| %>
              <%= f.check_box region, {name: 'region[]', checked: @prezi.checked(:region, region)}, region %>
            <% end %>
          </div>

          <div class='sub'>COUNTRY</div>
          <div class='filter' data-field='country'>
            <% @prezi.countries.each do |country| %>
              <%= f.check_box country, {name: 'country[]', checked: @prezi.checked(:country, country)}, country %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class='col-sm-9'>
      <div class='panel'>
        <div id='chart'>
          <!-- insert chart here with AmCharts.makeChart("chart", {...})-->
        </div>
      </div>
    </div>
  </div>
</section>
