<% content_for :title do %>
  <%= @owner == 'me' ? 'My' : 'All' %> Results
<% end %>

<section class='main-content-header'>
  <h1><%= content_for :title %></h1>
</section>
<section class="main-content">

  <% @results.each do |scenario| %>
    <a class='panel <%=scenario.status%>' href='<%= @owner == 'me' ? my_result_path(scenario) : result_path(scenario) %>'>
      <%= bsh_split_panel 'col-sm-8' %>
      <div class='row'>
        <div class='col-sm-8 title-container'>
          <h1><%= scenario.title %></h1>
          <p class='sub'>created by <%= scenario.created_by.full_name %> (<%= scenario.created_by.email %>) <%= time_ago_in_words(scenario.created_at)%> ago</p>
        </div>
        <div class='col-sm-4'>
          <div class='row counts-container'>
            <div class='col-xs-6'>
              <h1><i class='feeling-delighted'></i><%= scenario.total_delighted %></h1>
              <p class='sub'><%= pp_plural(scenario.total_delighted, 'moment') %></p>
            </div>
            <div class='col-xs-6'>
              <h1><i class='feeling-confused'></i><%= scenario.total_confused %></h1>
              <p class='sub'><%= pp_plural(scenario.total_confused, 'moment') %></p>
            </div>
          </div>
          <div class='row'>
            <div class='col-xs-6'>
              <h2><%= scenario.user_completed_count %> completed</h2>
            </div>
            <div class='col-xs-6'>
              <h2 class='label-live'><span>Not </span>Live</h2>
            </div>
          </div>
        </div>
      </div>
    </a>
  <% end %>

</section>
