<% content_for :title do %>
  All Results
<% end %>

<section class='main-content-header'>
  <h1><%= content_for :title %></h1>
</section>
<section class="main-content">

  <% @results.each do |scenario| %>
    <a class='panel <%=scenario.status%>' href='<%= result_path(scenario) %>'>
      <%= bsh_split_panel 'col-sm-8' %>
      <div class='row'>
        <div class='col-sm-8 title-container'>
          <h1><%= scenario.title %></h1>
          <p class='sub'>created by <%= scenario.created_by.full_name %> (<%= scenario.created_by.email %>) <%= time_ago_in_words(scenario.created_at)%> ago</p>
        </div>
        <div class='col-sm-4'>
          <div class='row'>
            <div class='col-xs-6'>
              <h2><%= scenario.user_completed_count %> completed</h2>
            </div>
            <div class='col-xs-6'>
              <h2 class='label-live'><span>Not </span>Live</h2>
            </div>
          </div>
        </div>
      </div>
    </a>
  <% end %>

  <nav>
    <ul class="pager">
      <% if params[:page].to_i > 0 %>
        <li class="previous"><a href="?page=<%= params[:page].to_i - 1 %>"><span aria-hidden="true">&larr;</span> Newer</a></li>
      <% end %>
      <% if @results.length == ResultsController::PAGE_SIZE %>
      <li class="next"><a href="?page=<%= params[:page].to_i + 1 %>">Older <span aria-hidden="true">&rarr;</span></a></li>
      <% end %>
    </ul>
  </nav>

</section>
