<% content_for :title do %><%= @scenario.title %><% end %>

<section class='main-content-header'>
  <%= bsh_split_panel 'col-md-8' %>
  <div class='row'>
    <div class='col-md-8 summary-highlights-container'>
      <h1><%= content_for :title %></h1>
      <p class='sub'>by <%= @scenario.created_by.full_name %> (<%= @scenario.created_by.email %>)</p>
      <div class='summary-container'>
        <div class='left-col'>
          <span class='strong'>Description:</span>
        </div>
        <div class='right-col'>
          <span class='summary-description'><%= @scenario.description %></span>
        </div>
      </div>
      <div class='highlights-container'>
        <div class='left-col'>
          <span class='strong'>Highlights:</span>
        </div>
        <div class='right-col'>
          <% @scenario.scenario_highlights.each_with_index do |highlight, index| %>
            <a href='<%= highlight_path(highlight) %>' class='highlight-link'
            ><span class='sub'><%= ppt_date(highlight.created_at) %></span> <%= dt_transcription(highlight.title) %> ...
            </a>
          <% end %>
          <% if @scenario.scenario_highlights.count == 0 %>
            <span class='sub'><i class='fa fa-question-circle'></i> no highlights added yet</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class='col-md-4 buttons-container'>
      <div class="clearfix">
        <h2 class=''>Live</h2>

        <div id='btn-archive' class="btn-group" data-placement="bottom" data-toggle="tooltip"
          <% if @scenario.live? %>title="Close the study"<% end %>
          <% if @scenario.completed? %>title="Re-open the study"<% end %>
        >
          <a class="btn btn-light-blue btn-active-on <% if @scenario.live? %>active<% end %>">On</a>
          <a class="btn btn-grey btn-failure btn-active-off <% if @scenario.completed? %>active<% end %>">Off</a>
        </div>

        <div class="btn-group pull-right">
          <div class='btn-wrapper-tooltip' data-placement="bottom" title="Edit the study" data-toggle="tooltip">
            <a class='btn btn-dark-blue' id='btn-edit' href='<%= edit_result_path(@scenario) %>'><i class='fa fa-edit'></i></a>
          </div>
          <div class="btn-wrapper-tooltip" data-placement="bottom" title="Delete the study" data-toggle="tooltip">
            <a class='btn btn-grey' id='btn-delete'><i class='fa fa-trash-o'></i></a>
          </div>
        </div>
      </div>

      <div class="input-group share-link-group">
        <input type="text" id='input-share-link' class="form-control" readonly value='<%= @scenario.share_link %>' <% if @scenario.completed? %>style='display:none'<% end %>>
        <span class='input-group-btn' data-placement="bottom" title="Copy the study link" data-toggle="tooltip" data-container="#btn-copy-share-link-tooltip">
          <a class="btn btn-green" id='btn-copy-share-link' <% if @scenario.completed? %>style='display:none'<% end %>><i class='fa fa-link'></i></a>
        </span>
      </div>
      <div id='btn-copy-share-link-tooltip'><!-- otherwise interferes with bootstrap (:not-last-child) selectors --></div>

      <h2><%= @scenario.user_completed_count %> completed</h2>
      <p class='sub'><%= @scenario.user_uploading_count %> uploading</p>
    </div>
  </div>
</section>
<section class='main-content'>

  <% if @scenario.user_completed_count == 0 and @scenario.user_uploading_count == 0 %>

  <div class='panel panel-hero'>
    <%= bsh_split_panel 'col-sm-8'%>
    <div class='row'>
      <div class='col-sm-8'>
        <h1>No one has taken your study yet.  Share the link!</h1>
        <h4>Send this link to your panelists. The results will appear below.</h4>
        <div class="input-group">
          <input type="text" id='input-hero-share-link' class="form-control" readonly value='<%= @scenario.share_link %>' <% if @scenario.completed? %>style='display:none'<% end %>>
          <span class='input-group-btn' data-placement="left" title="Copy the share link" data-toggle="tooltip" data-container="#btn-hero-copy-share-link-tooltip">
            <a class="btn btn-green" id='btn-hero-copy-share-link' <% if @scenario.completed? %>style='display:none'<% end %>><i class='fa fa-link'></i></a>
          </span>
        </div>
        <div id='btn-hero-copy-share-link-tooltip'><!-- otherwise interfers with bootstrap (:not-last-child) selectors --></div>
      </div>
      <div class='col-sm-4'>
        <h4>You're free to edit this study until the first panelist starts to take it.</h4>
        <h4>After that, you'll only be able to modify the text and description.</h4>
      </div>
    </div>
  </div>

  <% end %>

  <% @scenario.scenario_steps.each do |scenario_step| %>
  <div class='panel'>
    <div class='panel-heading'>
      <div>
        <%= ih_left_indent left_class: 'h1', left_content: "#{scenario_step.step_order + 1}.", div_class: 'summary-step-description' do %>
          <span><%= scenario_step.description %>
            <% if scenario_step.url %>
              <br/>
              <a target="_blank" href='<%=ppu_http(scenario_step.url)%>'><%=scenario_step.url%></a>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
    <div class='panel-body'>
      <div class='results-container'>

      <% @scenario.newest_scenario_results.each do |scenario_result| %>
        <a class='video-link'
          data-scenario-result-hashid='<%=scenario_result.hashid%>'
          data-result-step-offset-seconds='<%=scenario_result.result_step_offset_seconds(scenario_step)%>'
        >
          <span class='sub'><%= ppt_date(scenario_result.created_at) %> - [<%= scenario_result.email %>]</span>
        </a>
      <% end %>

      </div>
    </div>
  </div>
  <% end %>

</section>

<div class="modal" id='summary_video_container' tabindex='-1'>
  <div class="modal-dialog modal-lg">
    <div class="modal-content editable-timeline">
      <div class='ctn-modal-header'>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class='strong ctn-title'><%= @scenario.title %></span>
        <span id='ctn-user-email'></span>
      </div>
      <%= render partial: 'utility/video' %>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= render partial: 'utility/delete_modal', locals: {controller: 'study'} %>
