<% content_for :title do %><%= @scenario.title %><% end %>

<section class='main-content-header'>
  <%= bsh_split_panel 'col-md-8' %>
  <div class='row'>
    <div class='col-md-8 summary-highlights-container'>
      <h1><%= content_for :title %></h1>
      <p class='sub'>by <%= @scenario.created_by.full_name %> (<%= @scenario.created_by.email %>)</p>
      <div class='summary-container'>
        <p>
          <span class='h3'>Description:</span><span class='summary-description'><%= @scenario.description %></span>
        </p>
      </div>
      <div class='highlights-container'>
        <% @scenario.highlights.each_with_index do |highlight, index| %>
          <p>
            <% if index == 0 %><span class='h3'>Highlights:</span><% end %><!--
         --><a class='video-link'
              data-result-step-hashid='<%=highlight.result_step.hashid%>'
              data-feeling-at-seconds='<%=highlight.offset_seconds%>'
            ><span class='sub'><%= ppt_date(highlight.result_step.created_at) %> - [<%= highlight.result_step.email %>]</span> <%= dt_transcription(highlight.context_transcription) %> ...
            </a>
          </p>
        <% end %>
        <% if @scenario.highlights.count == 0 %>
          <p><span class='h3'>Highlights:</span><span class='sub'><i class='fa fa-question-circle'></i> no highlights added yet</span></p>
        <% end %>
      </div>
    </div>
    <div class='col-md-4 buttons-container'>

      <h2 class=''>Live</h2>

      <div id='btn-archive' class="btn-group" data-placement="bottom" data-toggle="tooltip"
        <% if @scenario.live? %>title="Close the study"<% end %>
        <% if @scenario.completed? %>title="Re-open the study"<% end %>
      >
        <a class="btn btn-success <% if @scenario.live? %>active<% end %>">On</a>
        <a class="btn btn-failure <% if @scenario.completed? %>active<% end %>">Off</a>
      </div>

      <div class="btn-group pull-right">
        <div class='btn-wrapper-tooltip' data-placement="bottom" title="Edit the study" data-toggle="tooltip">
          <a class='btn btn-default' id='btn-edit' href='<%= edit_draft_path %>'><i class='fa fa-edit'></i></a>
        </div>
        <div class='btn-wrapper-tooltip' data-placement="bottom" title="Copy the share link" data-toggle="tooltip">
          <a class="btn btn-default" id='btn-copy-share-link' <% if @scenario.completed? %>style='display:none'<% end %>><i class='fa fa-link'></i></a>
        </div>
      </div>

      <input type="text" id='input-share-link' class="form-control" readonly value='<%= @scenario.share_link %>' <% if @scenario.completed? %>style='display:none'<% end %>>

      <div class='row counts-container'>
        <div class='col-xs-6'>
          <h1><i class='feeling-delighted'></i><%= @scenario.total_delighted %></h1>
          <p class='sub'><%= pp_plural(@scenario.total_delighted, 'moment') %></p>
        </div>
        <div class='col-xs-6'>
          <h1><i class='feeling-confused'></i><%= @scenario.total_confused %></h1>
          <p class='sub'><%= pp_plural(@scenario.total_confused, 'moment') %></p>
        </div>
      </div>
      <h2><%= pp_plural_with_number(@scenario.user_completed_count, 'user') %></h2>
      <p class='sub'><%= @scenario.user_uploading_count %> uploading</p>
    </div>
  </div>
</section>
<section class='main-content'>

  <% if @scenario.user_count == 0 %>

  <div class='panel panel-hero'>
    <%= bsh_split_panel 'col-sm-8'%>
    <div class='row'>
      <div class='col-sm-8'>
        <h1>No has taken your study yet.  Share the link!</h1>
        <h4>Sends this link to your panelists. The results will appear below.</h4>
        <div class="input-group">
          <input type="text" id='input-hero-share-link' class="form-control" readonly value='<%= @scenario.share_link %>' <% if @scenario.completed? %>style='display:none'<% end %>>
          <span class='input-group-btn' data-placement="left" title="Copy the share link" data-toggle="tooltip" data-container="#btn-hero-copy-share-link-tooltip">
            <a class="btn btn-green" id='btn-hero-copy-share-link' <% if @scenario.completed? %>style='display:none'<% end %>><i class='fa fa-link'></i></a>
          </span>
        </div>
        <div id='btn-hero-copy-share-link-tooltip'><!-- otherwise interfers with bootstrap (:not-last-child) selectors --></div>
      </div>
      <div class='col-sm-4'>
        <h4>You're free to edit this study until the first panelist starts to take it.</h4>
        <h4>After that, you'll only be able to modify the text and description.</h4>
      </div>
    </div>
  </div>

  <% end %>

  <% @scenario.scenario_steps.each do |scenario_step| %>
  <div class='panel'>
    <%= bsh_split_panel 'col-xs-8' %>
    <i class="fa fa-chevron-down panel-body-toggle"></i>
    <div class='row panel-heading'>
      <div class='col-xs-8'>
        <div>
          <p class='summary-step-description'>
            <span class='h1'><%= scenario_step.step_order + 1 %>.</span><span><%= scenario_step.description %>
              <% if scenario_step.url %>
              <br/><a target="_blank" href='<%=ppu_http(scenario_step.url)%>'><%=ppu_http(scenario_step.url)%></a>
              <% end %>
            </span>
          </p>
        </div>
        <!--
        <h1><ol start='<%= scenario_step.step_order + 1 %>'><li>
          <p class='body'><%= scenario_step.description %></p>
        </li></ol></h1>
        -->
      </div>
      <div class='col-xs-4'>
        <div class='row moments-container'>
          <div class='col-xs-6'>
            <a class='moments-popover' tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true"
              data-content="<% scenario_step.delighted_feelings.each do |feeling| %>
                <a class='video-link'
                data-result-step-hashid='<%=feeling.result_step.hashid%>'
                data-feeling-at-seconds='<%=feeling.feeling_at_seconds%>'
                ><span class='sub'>[<%= ppt_seconds(feeling.feeling_at_seconds) %>]</span> <%= feeling.email %></a>
              <% end %>"
            >
              <h1><i class='feeling-delighted'></i><%= scenario_step.total_delighted %></h1>
              <p class='sub'><%= pp_plural(scenario_step.total_delighted, 'moment') %></p>
            </a>
          </div>
          <div class='col-xs-6'>
            <a class='moments-popover' tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true"
              data-content="<% scenario_step.confused_feelings.each do |feeling| %>
                <a class='video-link'
                data-result-step-hashid='<%=feeling.result_step.hashid%>'
                data-feeling-at-seconds='<%=feeling.feeling_at_seconds%>'
                ><span class='sub'>[<%= ppt_seconds(feeling.feeling_at_seconds) %>]</span> <%= feeling.email %></a>
              <% end %>"
            >
              <h1><i class='feeling-confused'></i><%= scenario_step.total_confused %></h1>
              <p class='sub'><%= pp_plural(scenario_step.total_confused, 'moment') %></p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class='row panel-body'>
      <div class='col-xs-8'>
        <div class='results-container'>

        <% scenario_step.result_steps.each do |result_step| %>
          <a class='video-link'
            data-result-step-hashid='<%=result_step.hashid%>'
          >
            <% if result_step.has_confused? and result_step.has_delighted? %>
              <i class='feeling-confused'></i>
              <i class='feeling-delighted'></i>
            <% elsif result_step.has_delighted? %>
              <i class='feeling-empty'></i>
              <i class='feeling-delighted'></i>
            <% elsif result_step.has_confused? %>
              <i class='feeling-empty'></i>
              <i class='feeling-confused'></i>
            <% else %>
              <i class='feeling-empty'></i>
              <i class='feeling-empty'></i>
            <% end %>
            <span class='sub'><%= ppt_date(result_step.created_at) %> - [<%= result_step.email %>]</span>
            <%= dt_transcription(result_step.first_transcription) %> ...
          </a>
        <% end %>

        </div>
      </div>
      <div class='col-xs-4'>

        <%# convert javascript converts this into nice graph %>
        <%# also links to the video for that user %>
        <div class='summary_time_graph'>
          <script type='application/json'>
            <%= raw scenario_step.result_time_bucket_hash.values.to_json %>
          </script>
          <div id='graph<%= scenario_step.step_order%>' class='graph'></div>
        </div>
        <div class='average-time pull-left'><%= scenario_step.average_completed_minutes %> average</div>
        <p class='sub pull-right'><%= pp_plural_with_number(scenario_step.completed_users, 'user') %></p>

      </div>
    </div>
  </div>
  <% end %>

</section>

<div class="modal fade" id='summary_video_container'>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class='ctn-modal-header'>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3><%= @scenario.title %></h3>
        <p id='ctn-user-email'></p>

        <p class='ctn-modal-step-description'>
          <span class='h1'>Step&nbsp;<span id='ctn-step-order'></span>.</span><span class='h2' id='ctn-step-description'><%= @scenario.description %></span>
        </p>
      </div>
      <%= render partial: 'utility/video' %>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
