<div class='pageheader'>
  <div class='row'>
    <div class='col-md-5'>
      <h1><%= @summary.title %></h1>
      <h2>
        <small>created by</small>
        <%= @summary.created_by.email %>
        <small><%= time_ago_in_words(@summary.created_at)%> ago</small>
      </h1>
    </div>
    <div class='col-md-7 ctn-top-actions'>
      <div class="btn-group">
        <div class="input-group">
          <input type="text" id='input-share-link' class="form-control" readonly value='<%= @summary.share_link %>'>
          <span class="input-group-btn">
            <a class="btn btn-success" id='btn-copy-share-link' data-clipboard-text='<%= @summary.share_link %>'><i class='fa fa-link'></i><span> Copy Share Link</span></a>
            <a class='btn btn-info btn-hover-show' id='btn-preview' data-toggle="modal" data-target='#modal-preview'><i class='fa fa-desktop'></i><span> Preview</span></a>
            <a class="btn btn-default btn-hover-show" id='btn-archive'><i class='fa fa-folder-o'></i><span> Archive</span></a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id='modal-preview'>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Insert semi-dynamic preview here</h4>
        </div>
        <div class="modal-body">
          <img src="/assets/semi_dynamic_preview.png">
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>
<section id='main-content'>

  <% if flash[:first_publish] %>
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <strong>Scenario Published</strong> - Your scenario is now ready to be shared with your users
    </div>
  <% end %>

  <div class='row'>
    <div class='panel'><div class='panel-body'>
      <div class='col-md-8'>
        <p><%= @summary.description %></p>
      </div>
      <div class='col-md-4'>
        <h1><%= @summary.user_completed_count || 0 %> users <small>completed</small></h4>
        <!--<h5><%= @summary.user_count %> users <small>total</small></h5>-->
        <span class='total_feeling text-success'><i class='fa fa-smile-o'></i> <%= @summary.total_delighted %></span>
        <span class='total_feeling text-danger'><i class='fa fa-frown-o'></i>  <%= @summary.total_confused %></span>
      </div>
    </div></div>
  </div>
  <div class='summary_steps'>
  <% @summary.summary_steps.each do |summary_step| %>
    <div class='row'><div class='col-md-12'><div class='panel panel-default'>
      <div class='panel-heading'>
        <div class='row'>
          <div class='col-md-8'>
            <ol start='<%= summary_step.step_order + 1 %>'><li>
              <h3 class='panel-text'><%= summary_step.description %></h3>
            </li></ol>
          </div>
          <div class='col-md-4'>
            <h2><%= format('%.0f', (summary_step.average_completed_seconds || 0)) %> seconds<small> on average</small></h2>
            <div>
              <span class='total_feeling text-success'><i class='fa fa-smile-o'></i> <%= summary_step.total_delighted %></span>
              <span class='total_feeling text-danger'><i class='fa fa-frown-o'></i>  <%= summary_step.total_confused %></span>
            </div>
          </div>
        </div>
        <% if summary_step.has_results? %>
          <div class="actions pull-right">
            <i class="fa fa-chevron-down"></i>
          </div>
        <% end %>
      </div><!-- panel-heading -->
      <div class='panel-body'>
        <div class='row'>
          <div class='col-md-8'>
            <%# convert javascript converts this into nice graph %>
            <%# also links to the video for that user %>
            <div class='summary_time_graph'>
              <script type='application/json'>
                <%= raw summary_step.result_time_bucket_hash.values.to_json %>
              </script>
              <div id='graph<%= summary_step.step_order%>' class='graph' style="width: 100%; height: 150px; background-color: #FFFFFF;" ></div>
            </div>
            <div class='average_time'>Average time on task <%= summary_step.average_completed_minutes %></div>
          </div>
          <div class='col-md-4 feelingDivContainer'>
            <%# make ajax call to pull up the full video and transcript %>
            <% summary_step.delighted_feelings.each_with_index do |feeling, index| %>
              <div class='feelingDiv <%= 'feelingOverflow' if index > 3 %>'><a class='feeling'
                data-scenario-step-id='<%=feeling.scenario_step_id%>'
                data-feeling-at-seconds='<%=feeling.feeling_at_seconds%>'
                data-user-id='<%=feeling.user_id%>'>
                  <span class='text-success step_feeling'><i class='fa fa-smile-o'></i></span><!--
                  -->...<%= feeling.context_transcription %>...
              </a></div>
            <% end %>
            <% summary_step.confused_feelings.each_with_index do |feeling, index| %>
              <div class='feelingDiv <%= 'feelingOverflow' if index > 3 %>'><a class='feeling'
                data-scenario-step-id='<%=feeling.scenario_step_id%>'
                data-feeling-at-seconds='<%=feeling.feeling_at_seconds%>'
                data-user-id='<%=feeling.user_id%>'>
                  <span class='text-danger step_feeling'><i class='fa fa-frown-o'></i></span><!--
                  -->...<%= feeling.context_transcription %>...</a>
              </div>
            <% end %>
            <% if summary_step.total_delighted > 4 || summary_step.total_confused > 4 %>
              <div><a class='linkFeelingOverflow'>show more...</a></div>
            <% end %>
          </div>
        </div>
      </div><!-- panel-body-->
    </div><!-- panel --></div><!-- col-md-12 --></div><!-- row -->
  <% end %>
  </div><!-- summary_steps -->
  <div class="modal fade" id='summary_video_container'>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <div class='row'>
            <div class='col-md-6'>
              <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered vjs-has-started"
                controls preload="auto" width="auto" height="300"
                poster="http://video-js.zencoder.com/oceans-clip.png"
                data-setup='{"example_option":true}'>
              </video>
              <div class="input-group ctn-video-share-link">
                <input type="text" class="form-control" id='input-url-base' readonly>
                <input type='text' class='form-control' id='input-url-time'>
                <span class="input-group-btn">
                  <a class="btn btn-success" id="btn-copy-video-link" data-clipboard-text=""><i class="fa fa-link"></i><span> Copy Video Link</span></a>
                </span>
              </div>
            </div>
            <div class='col-md-6' id='videoText'></div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</section>
