<% content_for :title do %><%= @scenario.title %><% end %>

<section class='main-content-header'>
  <%= bsh_split_panel 'col-md-8' %>
  <div class='row'>
    <div class='col-md-8 summary-container'>
      <h1><%= content_for :title %></h1>
      <p class='sub'>by <%= @scenario.created_by.full_name %> (<%= @scenario.created_by.email %>)</p>
      <div class='summary-description-container'>
        <div class='left-col'>
          <span class='strong'>Description:</span>
        </div>
        <div class='right-col'>
          <span class='summary-description'><%= @scenario.description %></span>
        </div>
      </div>
      <div class='summary-steps-container'>
        <div class='left-col'>
          <span class='strong'>Steps:</span>
        </div>
        <div class='right-col'>
          <% @scenario.scenario_steps.each do |scenario_step| %>
            <%= ih_left_indent left_class: '', left_content: "#{scenario_step.step_order + 1}.", div_class: 'summary-step-description' do %>
              <span><%= scenario_step.description %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class='col-md-4 buttons-container'>
      <div class="clearfix">
        <h3 class=''>Live</h3>

        <div id='btn-archive' class="btn-group" data-placement="bottom" data-toggle="tooltip"
          <% if @scenario.live? %>title="Close the study"<% end %>
          <% if @scenario.completed? %>title="Re-open the study"<% end %>
        >
          <a class="btn btn-light-blue btn-active-on <% if @scenario.live? %>active<% end %>">On</a>
          <a class="btn btn-grey btn-failure btn-active-off <% if @scenario.completed? %>active<% end %>">Off</a>
        </div>

        <div class="btn-group pull-right">
          <a class="btn btn-dark-blue dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            More <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a id="btn-edit" href='<%= edit_result_path(@scenario) %>'>Edit the study</a></li>
            <li><a id="btn-delete">Delete the study</a></li>
          </ul>
        </div>
      </div>

      <div class="input-group share-link-group">
        <input type="text" id='input-share-link' class="form-control" readonly value='<%= @scenario.share_link %>' <% if @scenario.completed? %>style='display:none'<% end %>>
        <span class='input-group-btn' data-placement="bottom" title="Copy the study link" data-toggle="tooltip" data-container="#btn-copy-share-link-tooltip">
          <a class="btn btn-green" id='btn-copy-share-link' <% if @scenario.completed? %>style='display:none'<% end %>><i class='fa fa-link'></i></a>
        </span>
      </div>
      <div id='btn-copy-share-link-tooltip'><!-- otherwise interferes with bootstrap (:not-last-child) selectors --></div>
      <h3><i class="fa fa-check"></i>  <%= @scenario.user_completed_count %> completed</h3>
    </div>
  </div>
</section>
<section class='main-content'>

  <% if @scenario.user_completed_count == 0 and @scenario.user_uploading_count == 0 %>

  <div class='panel panel-hero'>
    <%= bsh_split_panel 'col-sm-8'%>
    <div class='row'>
      <div class='col-sm-8'>
        <h1>No one has taken your study yet.  Share the link!</h1>
        <h4>Send this link to your panelists. The results will appear below.</h4>
        <div class="input-group">
          <input type="text" id='input-hero-share-link' class="form-control" readonly value='<%= @scenario.share_link %>' <% if @scenario.completed? %>style='display:none'<% end %>>
          <span class='input-group-btn' data-placement="left" title="Copy the share link" data-toggle="tooltip" data-container="#btn-hero-copy-share-link-tooltip">
            <a class="btn btn-green" id='btn-hero-copy-share-link' <% if @scenario.completed? %>style='display:none'<% end %>><i class='fa fa-link'></i></a>
          </span>
        </div>
        <div id='btn-hero-copy-share-link-tooltip'><!-- otherwise interfers with bootstrap (:not-last-child) selectors --></div>
      </div>
      <div class='col-sm-4'>
        <h4>You're free to edit this study until the first panelist starts to take it.</h4>
        <h4>After that, you'll only be able to modify the text and description.</h4>
      </div>
    </div>
  </div>

  <% end %>

  <% @scenario.newest_scenario_results.each do |scenario_result| %>

    <div class='panel scenario-results-panel'>
      <%= bsh_split_panel 'col-sm-8' %>
      <div class="row">
        <div class='col-sm-8 result-panel-left'>
          <h1 class="video-link" data-scenario-result-hashid='<%= scenario_result.hashid %>'><%= scenario_result.email %></h1>
          <div class="result-panel-toggle">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="sub btn">
                <span href="#result-steps-container-<%= scenario_result.hashid %>" aria-controls="home" role="tab" data-toggle="tab">
                  <i class="fa fa-list-ul"></i>   <%= pp_plural_with_number(@scenario.scenario_result_scenario_steps_count(scenario_result), 'Step') %>   <span class="caret"></span>
                </span class="sub btn">
              </li>
              <li role="presentation" class="sub btn">
                <span href="#result-highlights-container-<%= scenario_result.hashid %>" aria-controls="profile" role="tab" data-toggle="tab">
                  <i class="fa fa-bookmark"></i>   <%= pp_plural_with_number(scenario_result.scenario_highlights.count, 'Highlight') %>   <span class="caret"></span>
                </span class="sub btn">
              </li>
              <li role="presentation" class="sub btn">
                <span href="#result-notes-container-<%= scenario_result.hashid %>" aria-controls="messages" role="tab" data-toggle="tab">
                  <i class="fa fa-comment"></i>   <%= pp_plural_with_number(scenario_result.result_notes.count, 'Note') %>   <span class="caret"></span>
                </span class="sub btn">
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane collapsed-content" id="result-steps-container-<%= scenario_result.hashid %>">
                <% @scenario.scenario_result_scenario_steps(scenario_result).each do |scenario_step| %>
                  <%= ih_left_indent left_class: '', left_content: "#{scenario_step.step_order + 1}.", div_class: 'summary-step-description' do %>
                    <a class='video-link'
                      data-scenario-result-hashid='<%= scenario_result.hashid %>'
                      data-result-step-offset-seconds='<%= scenario_result.result_step_offset_seconds(scenario_step) %>'
                    >
                      <%= scenario_step.description %>  <span class="sub">(<%= ppt_duration(scenario_result.result_step_completed_seconds(scenario_step)) %>)</span>
                    </a>
                  <% end %>
                <% end %>
              </div>
              <div role="tabpanel" class="tab-pane collapsed-content" id="result-highlights-container-<%= scenario_result.hashid %>">
                <% scenario_result.scenario_highlights.each_with_index do |highlight, index| %>
                  <a href='<%= highlight_path(highlight) %>'>
                    <span class='sub'><%= ppt_date_abbr(highlight.created_at) %> - </span><%= dt_transcription(highlight.title) %>
                  </a>
                <% end %>
                <% if scenario_result.scenario_highlights.count == 0 %>
                  <span class='sub'><i class='fa fa-question-circle'></i> no highlights added yet</span>
                <% end %>
              </div>
              <div role="tabpanel" class="tab-pane collapsed-content" id="result-notes-container-<%= scenario_result.hashid %>">
                <% scenario_result.result_notes.each_with_index do |note, index| %>
                  <a class='video-link'
                    data-scenario-result-hashid='<%= scenario_result.hashid %>'
                    data-result-step-offset-seconds='<%= note.offset_seconds %>'
                  >
                    <span class='sub'><%= ppt_seconds(note.offset_seconds) %> - </span><%= dt_transcription(note.text) %>
                  </a>
                <% end %>
                <% if scenario_result.result_notes.count == 0 %>
                  <span class='sub'><i class='fa fa-question-circle'></i> no notes added yet</span>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 result-panel-right">
          <div class='sub result-date'><i class="fa fa-calendar-o"></i>   <%= ppt_date(scenario_result.created_at) %></div>
          <div class='sub result-duration'><i class="fa fa-clock-o"></i>   <%= ppt_duration(scenario_result.completed_seconds) %></div>
        </div>
      </div>
    </div>

  <% end %>
</section>

<div class="modal" id='summary_video_container' tabindex='-1'>
  <div class="modal-dialog modal-lg">
    <div class="modal-content editable-timeline">
      <div class='ctn-modal-header'>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class='strong ctn-title'><%= @scenario.title %></span>
        <span id='ctn-user-email'></span>
      </div>
      <%= render partial: 'utility/video' %>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= render partial: 'utility/delete_modal', locals: {controller: 'study'} %>
