<% content_for :title do %>
  Recent Responses
<% end %>

<section class="main-content-header">
  <h1><%= content_for :title  %></h1>
</section>

<section class="main-content">
  <div class="btn btn-medium-blue response-alert" role="alert"></div>
  <% @scenario_results.each do |scenario_result| %>
    <a class='panel' href='<%=result_video_path(scenario_result.scenario, scenario_result)%>'>
      <div class='title-container'>
        <h1><%= scenario_result.scenario_title %></h1>
        <p class='sub'>completed by <%= scenario_result.email %> <%= local_time_ago(scenario_result.created_at)%> (<%= pp_plural_with_number(scenario_result.scenario_step_count, 'step') %>)</p>
      </div>
    </a>
  <% end %>
  <%= render partial: 'recent/partials/response_template' %>
</section>
