<%= bootstrap_form_for :aircraft, url: aircraft_path(@prezi.aircraft.hashid),
  html: { method: :patch }, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8" do |f| %>

  <div class="form-description">
    <h2>Aircraft Details</h2>
    <p class="sub">Existing merge data</p>
  </div>

  <div class="details-container">
    <%= f.hidden_field :msn, value: @prezi.aircraft.msn %>
    <%= f.hidden_field :aircraft_model, value: @prezi.aircraft.aircraft_model %>
    <%= f.text_field :build_year, label: 'Build Year', placeholder: @prezi.aircraft.build_year %>
    <%= f.text_field :line_number, label: 'Line Number', placeholder: @prezi.aircraft.line_number %>
  </div>

  <div class="comments-container">
    <div class="comment-input"><%= f.text_area :user_comment, layout: :inline, label: "Please describe what's wrong" %></div>
  </div>

  <div class='clearfix buttons-container'>
    <%= f.submit "Submit Changes", name: 'submit', class: 'btn btn-dark-blue pull-right' %>
    <a class='btn btn-grey pull-right' data-dismiss="modal">Cancel</a>
  </div>
<% end %>
