<section class='main-content-header'>
  <h1>Thanks for giving your feedback!</h1>
</section>
<section class="main-content">

  <script type='text/javascript'>
    var scenarioParams = <%= raw @scenario.share_link_params_json %>
  </script>

  <div class='panel ctn-setup'>
    <div class='row'>
      <div class='col-md-6'>
        <p>
          Sonar is different from your average survey. With Sonar, we want to see what you do, and hear what you talk through what you're thinking. Sonar will record your screen and voice to make giving feedback easy.
        </p>
      </div>
      <div class='col-md-6'>
        <div class='step step-enabled' id='ctn-install-chrome'>
          <div class='el-enabled el-disabled'>
            <i class='fa fa-circle-o el-enabled'></i>
            <i class='fa fa-circle-o el-disabled'></i>
            <a id='btn-install-chrome' href='https://www.google.com/chrome/browser/desktop/index.html' class='el-enabled'>Get Chrome</a>
            <span class='el-disabled'>Get Chrome</span>
          </div>
          <div class='el-completed'>
            <i class='fa fa-check-circle'></i>
            <span>You're on Chrome!</span>
          </div>
        </div>

        <div class='step step-enabled' id='ctn-install-extension'>
          <div class='el-enabled el-disabled'>
            <i class='fa fa-circle-o el-enabled'></i>
            <i class='fa fa-circle-o el-disabled'></i>
            <a id='btn-install-extension' class='el-enabled'>Get the Chrome Extension</a>
            <span class='el-disabled sub'>Get the Chrome Extension</span>
          </div>
          <div class='el-completed'>
            <i class='fa fa-check-circle'></i>
            <span>You've got our extension!</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='panel ctn-help'>
    <h3>Your feedback is important. Really.</h3>
    <p>Sonar is different from your average survey. We want to see what you do, and hear what you think.
    </p>
  </div>

  <div class='panel ctn-help'>
    <h3>How do you give feedback?</h3>
    <img src='<%=asset_path 'plugin_help.png' %>'>
  </div>

  <div class='panel ctn-study step step-enabled'>
    <p>
      <%= @scenario.description %>
    </p>
    <%= bootstrap_form_for :study, layout: :horizontal, html: { onsubmit: "return false;" } do |f| %>
      <%= f.hidden_field :scenario_hashid, value: @scenario.hashid %>
      <div class='el-enabled el-disabled'>
        <%= f.text_field :email, label: 'Enter your email to get started:', label_col: 'col-sm-5', control_col: 'col-sm-7' %>
      </div>

      <div class='row ctn-start-feedback'>
        <div class ='col-md-6'>
          <p class='sub'>This study has <%= @scenario.step_count %> steps.</p>
        </div>
        <div class='col-md-6'>
          <i class='fa fa-check-circle el-completed'></i>
          <a class='btn btn-dark-blue pull-right el-enabled' id='btn-start-feedback'>Start giving feedback</a>
          <a class='btn btn-grey pull-right el-disabled'>Start giving feedback</a>
          <span class='el-completed'>Your study has started!</span>
        </div>
      </div>
    <% end %>
    <div class='overlay el-disabled'></div>
  </div>

</section>
