<section class="main-content">

  <script type='text/javascript'>
    var scenarioParams = <%= raw @scenario.share_link_params_json %>
  </script>

<% if @scenario.live? %>

  <div class='panel'>
    <h1><%= @scenario.created_by.full_name %> needs your feedback!</h1>
    <p>Sonar records your screen and voice to make giving feedback easy.</p>

    <div id='ctn-install-chrome' class='clearfix ctn-btn-text'>
      <a id='btn-install-chrome' href='https://www.google.com/chrome/browser/desktop/index.html' class='pull-right btn btn-orange'>Get Chrome</a>
      <p class='sub'>Get Chrome to record your screen and voice.</p>
    </div>

    <div id='ctn-install-extension' class='clearfix ctn-btn-text'>
      <a id='btn-install-extension' class='pull-right btn btn-orange'>Install Plugin</a>
      <p class='sub'>Install the Chrome plugin to record your screen and voice.</p>
    </div>
  </div>

  <div id='ctn-study' class='panel'>
    <h1>How can I help?</h1>
    <p class='study-description'><%= @scenario.description %></p>

    <div id='ctn-start-feedback'>

      <%= bootstrap_form_for :study, layout: :horizontal, html: { onsubmit: "return false;" } do |f| %>
        <%= f.hidden_field :scenario_hashid, value: @scenario.hashid %>
        <div class='el-enabled el-disabled'>
          <%= f.text_field :email, label: 'Enter your email to get started:', label_col: 'col-sm-6', control_col: 'col-sm-6' %>
        </div>
      <% end %>

      <div class='clearfix ctn-btn-text'>
        <a class='btn btn-orange pull-right' id='btn-start-feedback'>Start giving feedback</a>
        <p class='sub'>This study has <%= @scenario.step_count %> steps.</p>
      </div>

    </div>
    <div id='ctn-restart-feedback'>
      <p class='sub'>Your study has begun! You can refresh this page if you want to retake the study.</p>
    </div>

  </div>

<% else %>

  <div class='panel'>
    <h2>Thanks for your enthusiasm, but this study is no longer active.</h2>
  </div>

<% end %>

</section>
