<h1><%= @prezi.company_name %></h1>

Why did you give us that score?

<%= bootstrap_form_tag url: response_path(@prezi.uuid), method: 'patch' do |f| %>
  <%= f.text_area :text, placeholder: 'Write your answer here...', hide_label: true %>

  <%= f.button 'Submit', value: :submit %>
  <%= f.button 'Skip', value: :skip %>
<% end %>
