<% content_for :main_wrapper_class do %>
  sidebar-collapsed
<% end %>

<% content_for :title do %>Invite Users<% end %>

<section class='main-content-header'>
  <h1>Invite Users</h1>
</section>

<section class='main-content'>

  <div class='row'>
    <div class='col-sm-3'>
      <div class='panel'>
        <%= render 'nav/profile' %>
      </div>
    </div>
    <div class='col-sm-8'>

      <div class='panel'>
        <%= bootstrap_form_for resource, as: resource_name, url: invitation_path(resource_name), inline_errors: false, html: { method: :post } do |f| %>
          <%= f.email_field :email, label: 'Invite a user', placeholder: 'Email address' %>
          <%= f.hidden_field :company_id, value: @company_id %>

          <%= f.form_group :role do %>
            <%= f.check_box :role, {name: 'user[role]', label: "Make this user an admin"}, 'admin', 'user' %>
          <% end %>

          <%= f.submit "Send Invite", class: 'btn btn-dark-blue btn-med strong' %>
        <% end %>

        <div class='table-responsive'>
          <table class='table table-hover user-table'>
            <tr>
              <th>Users</th>
              <th>Admin</th>
            </tr>

            <% @users.each do |user| %>
              <tr class='user-line'>
                <td><%= user.email %></td>
                <td><%= user.role %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

</section>
