<section class='main-content-header'>
  <% if @scenario_result.my_feedback? %>
    <span class='strong ctn-title'><%= @scenario_result.title %></span>
  <% else %>
    <a href='<%= result_path(@scenario_result.scenario) %>' class='strong ctn-title'><%= @scenario_result.title %></a>
  <% end %>
  <span id='ctn-user-email'><%= @scenario_result.email %></span>
</section>
<section class="main-content">

  <div class='panel readonly-timeline'>
    <%= render partial: 'utility/video' %>
    </div>
  </var>

</section>
