<section class='main-content-header'>
  <h3><a href='<%= result_path(@scenario) %>'><%= @scenario.title %></a></h3>
  <p id='ctn-user-email'><%= @user.email %></p>

  <div class='ctn-modal-step-description'>
    <span class='h1'>Step <%= @scenario_step.step_order + 1 %>.</span><span class='h2' id='ctn-step-description'><%= @scenario_step.description %></span>
  </div>
</section>
<section class="main-content">

  <script type='text/javascript'>
    var transcriptionArray = <%= raw @result_step.transcription_array.to_json %>;
    var srcArray = <%= raw @video.src_array.to_json %>;
    var shareLink = '<%= @video.share_link %>';
  </script>

  <div class='panel'>
    <%= render partial: 'utility/video' %>
    </div>
  </var>

</section>
