<section class='main-content-header'>
  <a href='<%= result_path(@scenario) %>' class='strong'><%= @scenario.title %></a>
  <span id='ctn-user-email'><%= @result_step.prezi.email %></span>

  <div class='ctn-modal-step-description'>
    <span class='h1'>Step <%= @scenario_step.step_order + 1 %>.</span><span class='h2' id='ctn-step-description'><%= @scenario_step.description %></span>
  </div>
</section>
<section class="main-content">

  <div class='panel readonly-timeline'>
    <%= render partial: 'utility/video' %>
    </div>
  </var>

</section>
