<section class='main-content-header'>
  <h3><a href='<%= result_path(@scenario) %>'><%= @scenario.title %></a></h3>
  <p id='ctn-user-email'><%= @user.email %></p>

  <div class='ctn-modal-step-description'>
    <span class='h1'>Step <%= @scenario_step.step_order + 1 %>.</span><span class='h2' id='ctn-step-description'><%= @scenario_step.description %></span>
  </div>
</section>
<section class="main-content">

  <div class='panel readonly-timeline'>
    <%= render partial: 'utility/video' %>
    </div>
  </var>

</section>
