<% content_for :main_wrapper_class do %>
  sidebar-collapsed
<% end %>

<% content_for :title do %>Survey settings<% end %>

<section class='main-content-header'>
  <h1>Survey settings</h1>
</section>

<section class='main-content'>

  <div class='row'>
    <div class='col-sm-3'>
      <div class='panel'>
        <ul class="nav nav-pills nav-stacked">
          <%= render 'nav/settings' %>
        </ul>
      </div>
    </div>
    <div class='col-sm-8'>

      <div class='panel'>
      <%= bootstrap_form_for @survey_settings, url: settings_send_path, method: :patch, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9" do |f| %>
          <div class="panel-section">
            <%= f.text_field :survey_frequency, label: 'Survey Frequency:',  append: "days", wrapper_class: 'days-group' %>
          </div>

          <div class='panel-section'>
            <%= f.form_group :survey_type, label: { text: "Survey Type:" } do %>
              <%= f.radio_button :survey_type, 'inapp', label: "In-app" %>
              <div class='email-followup
                <%= 'hidden' if @survey_settings.survey_type != 'inapp' %>
                <%= 'disabled' if @survey_settings.email_followup.nil? %>
              '>
                <%= f.check_box :email_followup_enabled, label: "Follow up with an email survey if in-app survey isn't answered in" %>
                <%= f.text_field :email_followup, skip_label: true, append: "days", layout: :inline, disabled: @survey_settings.email_followup.nil?, wrapper_class: 'days-group' %>
              </div>
              <%= f.radio_button :survey_type, 'email', label: "Email" %>
            <% end %>
          </div>

          <div class="panel-section">
            <a href='<%= settings_send_path %>' class='btn btn-grey'>Cancel</a>
            <%= f.submit "Save Changes", class: 'btn btn-dark-blue' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</section>
