<% content_for :title do %>
  Highlight
<% end %>

<%= bootstrap_form_for @scenario_highlight, url: highlight_path(@scenario_highlight) do |f| %>
  <section class='main-content-header'>
    <div class='row ctn-title-buttons'>
      <div class='col-md-10 ctn-title'>
        <h2><%= @scenario_highlight.title %></h2>
        <a href='<%= result_video_path(@scenario, @result_step) %>' class='sub'><i class='fa fa-long-arrow-left'></i> Back to the full video</a>
      </div>
      <div class='col-md-2 ctn-buttons'>
        <a class='btn btn-dark-blue btn-med-bold' href='<%= edit_highlight_path %>' id='btn-edit-highlight'><i class='fa fa-edit'></i> Edit</a>
      </div>
    </div>
  </section>
  <section class="main-content">
    <div class='panel readonly-timeline clearfix'>
      <%= render partial: 'highlights/partials/readonly', layout: 'highlights/layouts/video', locals: {f: f} %>
    </div>
  </section>
<% end %>
