<% content_for :title do %>
  My Drafts
<% end %>

<section class='main-content-header'>
  <h1><%= content_for :title%></h1>
</section>
<section class="main-content">

  <% @scenarios.each do |scenario| %>
    <a class='panel draft-panel' href='<%=edit_draft_path(scenario)%>'>
      <%= bsh_split_panel 'col-sm-8' %>
      <div class='row'>
        <div class='col-sm-8'>
          <h1><%= scenario.title %></h1>
          <p class='sub'>created <%= time_ago_in_words(scenario.created_at) %> ago</p>
          <p class='scenario-description'><%= scenario.description %></p>
        </div>
        <div class='col-sm-4'>
          <h2><%= pp_plural_with_number(scenario.scenario_steps.count, 'step') %></h2>
          <p class='sub'>last updated <%= time_ago_in_words(scenario.updated_at) %> ago</p>
        </div>
      </div>
    </a>
  <% end %>

</section>
