<%= bootstrap_form_for @scenario, url: @scenario.id ? draft_path(@scenario) : drafts_path, html: {id: 'create-form'} do |f| %>
  <%= f.hidden_field :id, value: @scenario.id %>

<section class='main-content-header'>
  <div class='row'>
    <div class='col-xs-8'>
      <h1>
        <%= f.text_field :title, hide_label: true, placeholder: 'Title your study', class: 'input-lg' %>
      </h1>
    </div>
    <div class='col-xs-4'>

      <div class="btn-group" id='btn-template-group'>
        <a class="btn btn-light-blue dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Start from a template<span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <% @product_templates.each do |template| %>
            <li><a href='?template=<%=template.value%>'><%=template.display%></a></li>
          <% end %>
          <li class="divider"></li>
          <% @marketing_templates.each do |template| %>
            <li><a href='?template=<%=template.value%>'><%=template.display%></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class='row header-sub-text'>
    <div class='col-xs-8'>
      <p class='sub'>This title is just for internal purposes.  Your panelists will never see this.</p>
    </div>
    <div class='col-xs-4'>
      <p class='template-sub-text'>or just start typing below.</p>
    </div>
  </div>

</section>
<section class="main-content">

  <div class='panel'>

    <div class='summary-container'>
      <p class='sub'>
        This is a summary which will be shown to the panelists. You should describe blah blah blah some helper text of what to write in this section.
      </p>
      <%= f.text_area :description, rows: 3, hide_label: true, placeholder: 'Welcome the panelist to the study.' %>
    </div>

    <div class='steps-container'>
      <p class='sub'>
        Now tell your panelists what you’d like them to do. Go step by step, leading them through your test. Some more text about how to type here. Some text about how panelists will experience these steps.
      </p>
      <div id='ctn-step-list'><!-- insert new steps here --></div>
    </div>

    <div class='clearfix buttons-container'>
      <a href='<%=results_path%>' class='btn btn-grey pull-left'>Cancel</a>

      <%= f.submit 'Create study', name: 'publish', class: 'btn btn-dark-blue pull-right' %>
      <%= f.submit 'Save as draft', name: 'draft', class: 'btn btn-light-blue pull-right' %>
      <p class='sub pull-right'>If you’re done setting up the study, create it. You’ll be able to send the link to panelists on the next screen.</p>
    </div>

  </div>
</section>


<script id="new-step-template" type="text/x-handlebars-template">
  {{#each steps}}
  <div class='row ctn-step'>
    <%= f.hidden_field :id, value: '{{id}}', name: 'scenario_steps[][id]' %>
    <div class='col-xs-8'>
      <h1 class='ctn-count pull-left'>1.</h1>
      <div class='ctn-description'>
        <%= f.text_area :description, hide_label: true, rows: 1, placeholder: 'Tell the panelist what to do', value: '{{description}}', name: 'scenario_steps[][description]' %>
      </div>
    </div>
    <div class='col-xs-4 ctn-url-btns'>
      <div class='ctn-btns pull-right'>
        <a class='btn btn-add-step btn-light-blue'>+</a>
        <a class='btn btn-remove-step btn-grey'>x</a>
      </div>
      <div class='ctn-url'>
        <%= f.text_field :url, hide_label: true, placeholder: 'URL (optional)', value: '{{url}}', name: 'scenario_steps[][url]' %>
      </div>
    </div>
  </div>
  {{/each}}
</script>

<script type='text/javascript'>
  var scenarioSteps = <%= raw @scenario.scenario_steps_json %>;
</script>

<% end %>
