<aside class="sidebar">
  <nav>
    <ul class="nav nav-pills nav-stacked">
      <div class='btn-collapse-sidebar'>Filters<i class="fa fa-close"></i></div>
      <li data-toggle="collapse" href="#aircraft_status">
        <a class="nav-sub-container"><i class="fa fa-chevron-right"></i>AIRCRAFT STATUS</a>
      </li>
      <ul class="nav nav-pills nav-stacked collapse" id="aircraft_status">
        <%= bootstrap_form_for :filters do |f| %>
          <div class='filter' data-field='status'>
            <% @prezi.filters("aircraft_status").each do |status| %>
              <%= f.check_box status, {name: 'aircraft_status', label: status, checked: @prezi.checked("aircraft_status", status)}, status %>
            <% end %>
          </div>
        <% end %>
      </ul>

      <li data-toggle="collapse" href="#aircraft">
        <a class="nav-sub-container"><i class="fa fa-chevron-right"></i>AIRCRAFT</a>
      </li>
      <ul class="nav nav-pills nav-stacked collapse" id="aircraft">
        <%= bootstrap_form_for :filters do |f| %>
          <div class="filter-header">Aircraft Manufacturer</div>
          <select class='selectpicker' name="aircraft_manufacturer" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("aircraft_manufacturer").each do |filter| %>
              <option name="aircraft_manufacturer" value="<%= filter %>" <%= 'selected' if @prezi.selected("aircraft_manufacturer", filter) %> <%= 'selected' if @prezi.selected("aircraft_manufacturer", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>

          <div class="filter-header">Aircraft Type</div>
          <select class='selectpicker' name="aircraft_type" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("aircraft_type").each do |filter| %>
              <option name="aircraft_type" value="<%= filter %>" <%= 'selected' if @prezi.selected("aircraft_type", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>

          <div class="filter-header">Aircraft Series</div>
          <select class='selectpicker' name="aircraft_series" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("aircraft_series").each do |filter| %>
              <option name="aircraft_series" value="<%= filter %>" <%= 'selected' if @prezi.selected("aircraft_series", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>

          <div class="filter-header">Engine Type</div>
          <select class='selectpicker' name="engine_type" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("engine_type").each do |filter| %>
              <option name="engine_type" value="<%= filter %>" <%= 'selected' if @prezi.selected("engine_type", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>

          <div class="filter-header">Engine Variant</div>
          <select class='selectpicker' name="engine_variant" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("engine_variant").each do |filter| %>
              <option name="engine_variant" value="<%= filter %>" <%= 'selected' if @prezi.selected("engine_variant", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>
        <% end %>
      </ul>

      <li data-toggle="collapse" href="#companies">
        <a class="nav-sub-container"><i class="fa fa-chevron-right"></i>COMPANIES</a>
      </li>
      <ul class="nav nav-pills nav-stacked collapse" id="companies">
        <%= bootstrap_form_for :filters do |f| %>
          <div class="filter-header">Manager</div>
          <select class='selectpicker' name="manager" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("manager").each do |filter| %>
              <option name="manager" value="<%= filter %>" <%= 'selected' if @prezi.selected("manager", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>

          <div class="filter-header">Operator</div>
          <select class='selectpicker' name="operator" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("operator").each do |filter| %>
              <option name="operator" value="<%= filter %>" <%= 'selected' if @prezi.selected("operator", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>

          <div class="filter-header">Owner</div>
          <select class='selectpicker' name="owner" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("owner").each do |filter| %>
              <option name="owner" value="<%= filter %>" <%= 'selected' if @prezi.selected("owner", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>
        <% end %>
      </ul>

      <li data-toggle="collapse" href="#misc">
        <a class="nav-sub-container"><i class="fa fa-chevron-right"></i>MISC</a>
      </li>
      <ul class="nav nav-pills nav-stacked collapse" id="misc">
        <%= bootstrap_form_for :filters do |f| %>
          <div class="filter-header">Operator Country</div>
          <select class='selectpicker' name="operator_country" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("operator_country").each do |filter| %>
              <option name="operator_country" value="<%= filter %>" <%= 'selected' if @prezi.selected("operator_country", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>
        <% end %>
      </ul>
    </ul>
  </nav>
  <div class='sidebar-shadow'></div>
</aside>
