<aside class="sidebar">
  <nav>
    <ul class="nav nav-pills nav-stacked">
      <div class='btn-collapse-sidebar'>Filters<i class="fa fa-close"></i></div>
      <li data-toggle="collapse" href="#aircraft_status">
        <a class="nav-sub-container"><i class="fa fa-chevron-right"></i>AIRCRAFT STATUS</a>
      </li>
      <ul class="nav nav-pills nav-stacked collapse" id="aircraft_status">
        <%= bootstrap_form_for :filters do |f| %>
          <div class='filter' data-field='status'>
            <% @prezi.filters("aircraft_status").each do |status| %>
              <%= f.check_box status, {name: 'aircraft_status', label: status, checked: @prezi.checked("aircraft_status", status)}, status %>
            <% end %>
          </div>
        <% end %>
      </ul>

      <li data-toggle="collapse" href="#aircraft">
        <a class="nav-sub-container"><i class="fa fa-chevron-right"></i>AIRCRAFT</a>
      </li>
      <ul class="nav nav-pills nav-stacked collapse" id="aircraft">
        <%= bootstrap_form_for :filters do |f| %>
          <div class="filter-header">Aircraft Manufacturer</div>
          <select class='selectpicker' name="aircraft_manufacturer" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("aircraft_manufacturer").each do |filter| %>
              <option name="aircraft_manufacturer" value="<%= filter %>" <%= 'selected' if @prezi.selected("aircraft_manufacturer", filter) %> <%= 'selected' if @prezi.selected("aircraft_manufacturer", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>

          <div class="filter-header">Aircraft Model</div>
          <select class='selectpicker' name="aircraft_model" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("aircraft_model").each do |filter| %>
              <option name="aircraft_model" value="<%= filter %>" <%= 'selected' if @prezi.selected("aircraft_model", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>

          <div class="filter-header">Aircraft Version</div>
          <select class='selectpicker' name="aircraft_version" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("aircraft_version").each do |filter| %>
              <option name="aircraft_version" value="<%= filter %>" <%= 'selected' if @prezi.selected("aircraft_version", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>

          <div class="filter-header">Engine Model</div>
          <select class='selectpicker' name="engine_model" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("engine_model").each do |filter| %>
              <option name="engine_model" value="<%= filter %>" <%= 'selected' if @prezi.selected("engine_model", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>

          <div class="filter-header">Engine Version</div>
          <select class='selectpicker' name="engine_version" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("engine_version").each do |filter| %>
              <option name="engine_version" value="<%= filter %>" <%= 'selected' if @prezi.selected("engine_version", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>
        <% end %>
      </ul>

      <li data-toggle="collapse" href="#companies">
        <a class="nav-sub-container"><i class="fa fa-chevron-right"></i>COMPANIES</a>
      </li>
      <ul class="nav nav-pills nav-stacked collapse" id="companies">
        <%= bootstrap_form_for :filters do |f| %>
          <div class="filter-header">Airline</div>
          <select class='selectpicker' name="airline" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("airline").each do |filter| %>
              <option name="airline" value="<%= filter %>" <%= 'selected' if @prezi.selected("airline", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>

          <div class="filter-header">Owner</div>
          <select class='selectpicker' name="owner" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("owner").each do |filter| %>
              <option name="owner" value="<%= filter %>" <%= 'selected' if @prezi.selected("owner", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>
        <% end %>
      </ul>

      <li data-toggle="collapse" href="#misc">
        <a class="nav-sub-container"><i class="fa fa-chevron-right"></i>MISC</a>
      </li>
      <ul class="nav nav-pills nav-stacked collapse" id="misc">
        <%= bootstrap_form_for :filters do |f| %>
          <div class="filter-header">Airline Country</div>
          <select class='selectpicker' name="airline_country" data-live-search="true" data-icon-base="fa" data-tick-icon="fa-check" multiple title='Select' data-dropup-auto="false">
            <% @prezi.filters("airline_country").each do |filter| %>
              <option name="airline_country" value="<%= filter %>" <%= 'selected' if @prezi.selected("airline_country", filter) %>><%= filter.titleize %></option>
            <% end %>
          </select>
        <% end %>
      </ul>
    </ul>
  </nav>
  <div class='sidebar-shadow'></div>
</aside>
