<header class="header"> <!--logo start-->
  <div class="navbar-header">
    <a class="nav-left navbar-toggle collapsed" data-toggle="collapse" data-target="#toggle-navbar" aria-expanded="false">
      <i class="fa fa-bars"></i>
    </a>
    <a href="/" class="brand logo"><img src='<%=asset_path 'SonarLogo_White-02.svg' %>'></a>
  </div>

  <div class="collapse navbar-collapse" id="toggle-navbar">
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <%= navbar_item "<i class='fa fa-ft fa-database'></i>Fleet Database", '/aircraft' %>
        <%= navbar_item "<i class='fa fa-ftl fa-bar-chart'></i>Analysis", '/analysis' %>
        <!-- <%= navbar_dropdown "<i class='fa fa-file'></i>Reports" do %>
          <%= bsh_navbar_item "Aircraft Reports", reports_aircraft_reports_path, active: false %>
          <%= bsh_navbar_item 'Forecasting', reports_forecasts_path, active: false %>
        <% end %> -->
      <% end %>
    </ul>

    <ul class="nav navbar-nav nav-right">
      <% if user_signed_in? %>
        <%= navbar_dropdown "<i class='fa fa-user'></i>" do %>
          <%= bsh_navbar_item "Profile", edit_user_registration_path, active: false %>
          <%= bsh_navbar_item 'Users', admin_users_path, active: false %>
          <%= bsh_navbar_item "Logout", destroy_user_session_path, active: false %>
        <% end %>
      <% else %>
        <li>
          <a href='<%=new_user_session_path%>'>Login</a>
        </li>
      <% end %>
    </ul>
  </div>

 </header>
