<header class="header"> <!--logo start-->
  <div class="brand">
    <a href="/" class="logo"><img src='<%=asset_path 'SonarLogo_White-02.svg' %>'></a>
  </div>

  <ul class='nav nav-pills nav-left visible-xs'>
    <li>
      <a id='toggle-sidebar' href="#"><i class="fa fa-bars"></i></a>
    </li>
  </ul>

  <ul class="nav nav-pills nav-left hidden-xs">
    <% if researcher_signed_in? && current_researcher.has_v2? %>
      <%= navbar_item "<i class='fa fa-ft fa-home'></i>Dashboard", '/dashboard' %>
      <%= navbar_item "<i class='fa fa-ft fa-line-chart'></i>Trends", '/trends' %>
      <%= navbar_item "<i class='fa fa-ft fa-bar-chart'></i>Comparisons", '/comparisons' %>
    <% end %>
  </ul>
  <ul class="nav nav-right">
    <% if researcher_signed_in? %>
      <%= navbar_dropdown "<i class='fa fa-ft fa-user'></i><span class='hidden-xs'>#{current_researcher.full_name}</span>" do %>
        <%= navbar_item "Settings",
          edit_researcher_registration_path %>
        <%= navbar_item "Embed", embed_snippet_path %>
        <%= navbar_item "Logout", destroy_researcher_session_path %>
      <% end %>
    <% else %>
      <li>
        <a href='<%=new_researcher_session_path%>'>Login</a>
      </li>
    <% end %>
  </ul>
 </header>
