<header class="header"> <!--logo start-->
  <div class="brand">
    <a href="/" class="logo"><img src='<%=asset_path 'SonarLogo_White-02.svg' %>'></a>
  </div>

  <ul class='nav nav-pills nav-left visible-xs'>
    <li>
      <a id='toggle-sidebar' href="#"><i class="fa fa-bars"></i></a>
    </li>
  </ul>

  <ul class="nav nav-pills nav-left hidden-xs">
    <% if user_signed_in? && current_user.has_v2? %>
      <%= navbar_item "<i class='fa fa-ft fa-home'></i>Dashboard", '/dashboard' %>
      <%= navbar_item "<i class='fa fa-ft fa-line-chart'></i>Trends", '/trends' %>
      <%= navbar_item "<i class='fa fa-ft fa-bar-chart'></i>Comparisons", '/comparisons' %>
    <% end %>
  </ul>

  <ul class="nav nav-pills nav-right">
    <% if user_signed_in? && current_user.has_v2? %>
      <%= navbar_dropdown "<i class='fa fa-gear'></i>", class: 'hidden-xs' do %>
        <%= bsh_navbar_item "Survey", settings_send_path, active: false %>
        <%= bsh_navbar_item "Setup", setup_embed_path, active: false %>
        <%= bsh_navbar_item "Customers", customers_path, active: false %>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <%= navbar_dropdown "<i class='fa fa-user'></i>" do %>
        <%= bsh_navbar_item "Profile", edit_user_registration_path, active: false %>
        <%= bsh_navbar_item 'Users', new_user_invitation_path, active: false %>
        <%= bsh_navbar_item "Logout", destroy_user_session_path, active: false %>
      <% end %>
    <% else %>
      <li>
        <a href='<%=new_user_session_path%>'>Login</a>
      </li>
    <% end %>
  </ul>

  <% if user_signed_in? %>
    <div class="nav-right nav-search hidden-xs hidden-sm">
      <input type="text" class="form-control input-search" placeholder="Search"></input>
      <a class='btn-search'><i class="fa fa-search"></i></a>
    </div>
  <% end %>

 </header>
