<header class="header"> <!--logo start-->
  <div class="brand">
    <a href="/" class="logo"><img src='<%=asset_path 'SonarLogo_White-02.svg' %>'></a>
  </div>
  <ul class="nav navbar-left">
    <li class='visible-xs'>
      <a id='toggle-sidebar' href="#"><i class="fa fa-bars"></i></a>
    </li>
  </ul>
  <ul class="nav navbar-right">
    <% if current_user %>
      <li class="dropdown profile ">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
          <img src="<%=image_path 'user.jpg'%>" class="img-circle" alt="<%= current_user.display %>">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu animated fadeInRight" role="menu">
          <li>
            <a href="/account">
              <span class="icon"><i class="fa fa-user"></i></span>Account
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="<%= logout_path %>">
              <span class="icon"><i class="fa fa-sign-out"></i></span>Logout
            </a>
          </li>
        </ul>
      </li>
    <% else %>
      <li><a href='<%= login_path %>'>Login</a></li>
    <% end %>
  </ul>
 </header>
