<aside class="sidebar sidebar-left">
  <div class='div-btn-create'><a href='/create' class='btn btn-info'>New Scenario</a></div>
  <nav>
    <ul class="nav nav-pills nav-stacked">
      <% if current_user and current_user.is_researcher? %>
        <%= navbar_item "All Results", '/results' %>
        <%= navbar_item "My Results", '/my_results' %>
        <%= navbar_item "Recent Activity", '/recent' %>
        <%= navbar_item "Drafts", '/drafts' %>
      <% elsif current_user and current_user.is_user? %>
        <%= navbar_item "Manage", '/user_scenarios' %>
      <% end %>
    </ul>
  </nav>
</aside>
