<aside class="sidebar">
  <!--<div class='div-btn-create'><a href='/create' class='btn btn-info'>New Scenario</a></div>-->

  <nav>
    <ul class="nav nav-pills nav-stacked">
      <% if user_signed_in? %>
        <% if current_user.has_v1? %>
          <%= navbar_item "New Study", '/create', class: 'div-btn-create' %>
          <%= navbar_item "<i class='fa fa-ftl fa-bar-chart'></i>All Results", '/results' %>
          <%= navbar_item "<i class='fa fa-ftl fa-bullhorn'></i>Recent Responses", '/recent' %>
          <%= navbar_item "<i class='fa fa-ftl fa-edit'></i>Drafts" + (drafts_count > 0 ? " (#{drafts_count.to_s})" : ''), '/drafts' %>
          <%= navbar_item "<i class='fa fa-ftl fa-comments-o'></i>My Feedback", '/feedback' %>
        <% end %>
        <% if current_user.has_v2? %>
          <%= navbar_item "<i class='fa fa-ftl fa-home'></i>Dashboard", '/dashboard', class: 'visible-xs' %>
          <%= navbar_item "<i class='fa fa-ftl fa-line-chart'></i>Trends", '/trends', class: 'visible-xs' %>
          <%= navbar_item "<i class='fa fa-ftl fa-bar-chart'></i>Comparisons", '/comparisons', class: 'visible-xs' %>
          <%= navbar_item "<i class='fa fa-ftl fa-gear'></i>Settings", '/settings/send', class: 'visible-xs' %>
        <% end %>
        <% if current_user.has_v3? %>
          <%= navbar_item "<i class='fa fa-ftl fa-database'></i>FLEET DATABASE", '/fleets' %>
          <%= navbar_item "<i class='fa fa-ftl fa-table'></i>EXPLORE", '/explore' %>
          <li data-toggle="collapse" href="#analysis">
            <a class="nav-sub-container"><i class='fa fa-ftl fa-bar-chart'></i>ANALYSIS<span class="caret arrow"></span></a>
          </li>
          <ul class="nav nav-pills nav-stacked collapse" id="analysis">
            <%= navbar_item "<i class='fa fa-ftl fa-file'></i>AIRCRAFT REPORTS", '/analysis/reports' %>
            <%= navbar_item "<i class='fa fa-ftl fa-calendar'></i>FORECASTING", '/analysis/forecasts' %>
          </ul>
          <%= navbar_item "<i class='fa fa-ftl fa-plane'></i>AIRCRAFT CMS", '/aircrafts' %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <div class='sidebar-shadow'></div>
</aside>
