<aside class="sidebar">
  <!--<div class='div-btn-create'><a href='/create' class='btn btn-info'>New Scenario</a></div>-->

  <nav>
    <ul class="nav nav-pills nav-stacked">
      <% if researcher_signed_in? %>
        <%= navbar_item "New Study", '/create', class: 'div-btn-create' %>

        <%= navbar_item "<i class='fa fa-fw fa-bar-chart'></i> All Results", '/results' %>
        <%= navbar_item "<i class='fa fa-fw fa-user'></i> My Results", '/my_results' %>
        <%= navbar_item "<i class='fa fa-fw fa-bullhorn'></i> Recent Responses", '/responses' %>
        <%= navbar_item "<i class='fa fa-fw fa-edit'></i> Drafts (" + drafts_count.to_s + ')', '/drafts' %>
      <% end %>
    </ul>
  </nav>
  <div class='sidebar-shadow'></div>
</aside>
