<aside class="sidebar">
  <!--<div class='div-btn-create'><a href='/create' class='btn btn-info'>New Scenario</a></div>-->

  <nav>
    <ul class="nav nav-pills nav-stacked">
      <% if user_signed_in? %>
        <% if current_user.has_v1? %>
          <%= navbar_item "New Study", '/create', class: 'div-btn-create' %>
          <%= navbar_item "<i class='fa fa-ftl fa-bar-chart'></i>All Results", '/results' %>
          <%= navbar_item "<i class='fa fa-ftl fa-bullhorn'></i>Recent Responses", '/recent' %>
          <%= navbar_item "<i class='fa fa-ftl fa-edit'></i>Drafts" + (drafts_count > 0 ? " (#{drafts_count.to_s})" : ''), '/drafts' %>
          <%= navbar_item "<i class='fa fa-ftl fa-comments-o'></i>My Feedback", '/feedback' %>
        <% end %>
        <% if current_user.has_v2? %>
          <%= navbar_item "<i class='fa fa-ftl fa-home'></i>Dashboard", '/dashboard', class: 'visible-xs' %>
          <%= navbar_item "<i class='fa fa-ftl fa-line-chart'></i>Trends", '/trends', class: 'visible-xs' %>
          <%= navbar_item "<i class='fa fa-ftl fa-bar-chart'></i>Comparisons", '/comparisons', class: 'visible-xs' %>
          <%= navbar_item "<i class='fa fa-ftl fa-gear'></i>Settings", '/settings/send', class: 'visible-xs' %>
        <% end %>
        <% if current_user.has_v3? %>
          <div class='div-collapse-sidebar'>Filters<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
          <li data-toggle="collapse" href="#aircraft_status">
            <a class="nav-sub-container"><span class="glyphicon glyphicon-chevron-down"></span>AIRCRAFT STATUS</a>
          </li>
          <ul class="nav nav-pills nav-stacked collapse in" id="aircraft_status">
            <%= bootstrap_form_for :filters do |f| %>
              <div class='filter' data-field='status'>
                <% @prezi.filters("aircraft_status").each do |status| %>
                  <%= f.check_box status, {name: 'aircraft_status', label: status}, status %>
                <% end %>
              </div>
            <% end %>
          </ul>

          <li data-toggle="collapse" href="#aircraft">
            <a class="nav-sub-container"><span class="glyphicon glyphicon-chevron-down"></span>AIRCRAFT</a>
          </li>
          <ul class="nav nav-pills nav-stacked collapse in" id="aircraft">
            <%= bootstrap_form_for :filters do |f| %>
              <div class="filter-header">Manufacturer</div>
              <select class='selectpicker' name="aircraft_manufacturer" data-live-search="true" multiple title='Select' data-dropup-auto="false">
                <% @prezi.filters("aircraft_manufacturer").each do |filter| %>
                  <option name="aircraft_manufacturer" value="<%= filter %>"><%= filter.titleize %></option>
                <% end %>
              </select>

              <div class="filter-header">Aircraft Type</div>
              <select class='selectpicker' name="aircraft_type" data-live-search="true" multiple title='Select' data-dropup-auto="false">
                <% @prezi.filters("aircraft_type").each do |filter| %>
                <option name="aircraft_type" value="<%= filter %>"><%= filter.titleize %></option>
                <% end %>
              </select>

              <div class="filter-header">Aircraft Series</div>
              <select class='selectpicker' name="aircraft_series" data-live-search="true" multiple title='Select' data-dropup-auto="false">
                <% @prezi.filters("aircraft_series").each do |filter| %>
                  <option name="aircraft_series" value="<%= filter %>"><%= filter.titleize %></option>
                <% end %>
              </select>

              <div class="filter-header">Engine Type</div>
              <select class='selectpicker' name="engine_type" data-live-search="true" multiple title='Select' data-dropup-auto="false">
                <% @prezi.filters("engine_type").each do |filter| %>
                  <option name="engine_type" value="<%= filter %>"><%= filter.titleize %></option>
                <% end %>
              </select>

              <div class="filter-header">Engine Variant</div>
              <select class='selectpicker' name="engine_variant" data-live-search="true" multiple title='Select' data-dropup-auto="false">
                <% @prezi.filters("engine_variant").each do |filter| %>
                  <option name="engine_variant" value="<%= filter %>"><%= filter.titleize %></option>
                <% end %>
              </select>
            <% end %>
          </ul>

          <li data-toggle="collapse" href="#companies">
            <a class="nav-sub-container"><span class="glyphicon glyphicon-chevron-down"></span>COMPANIES</a>
          </li>
          <ul class="nav nav-pills nav-stacked collapse in" id="companies">
            <%= bootstrap_form_for :filters do |f| %>
              <div class="filter-header">Lessor</div>
              <select class='selectpicker' name="manager" data-live-search="true" multiple title='Select' data-dropup-auto="false">
                <% @prezi.filters("manager").each do |filter| %>
                  <option name="manager" value="<%= filter %>"><%= filter.titleize %></option>
                <% end %>
              </select>

              <div class="filter-header">Operator</div>
              <select class='selectpicker' name="operator" data-live-search="true" multiple title='Select' data-dropup-auto="false">
                <% @prezi.filters("operator").each do |filter| %>
                  <option name="operator" value="<%= filter %>"><%= filter.titleize %></option>
                <% end %>
              </select>

              <div class="filter-header">Owner</div>
              <select class='selectpicker' name="owner" data-live-search="true" multiple title='Select' data-dropup-auto="false">
                <% @prezi.filters("owner").each do |filter| %>
                  <option name="owner" value="<%= filter %>"><%= filter.titleize %></option>
                <% end %>
              </select>
            <% end %>
          </ul>

          <li data-toggle="collapse" href="#misc">
            <a class="nav-sub-container"><span class="glyphicon glyphicon-chevron-down"></span>MISC</a>
          </li>
          <ul class="nav nav-pills nav-stacked collapse in" id="misc">
            <%= bootstrap_form_for :filters do |f| %>
              <div class="filter-header">Country</div>
              <select class='selectpicker' name="operator_country" data-live-search="true" multiple title='Select' data-dropup-auto="false">
                <% @prezi.filters("operator_country").each do |filter| %>
                  <option name="operator_country" value="<%= filter %>"><%= filter.titleize %></option>
                <% end %>
              </select>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <div class='sidebar-shadow'></div>
</aside>
