<aside class="sidebar sidebar-left">
  <nav>
      <h5 class="sidebar-header">Navigation</h5>
      <ul class="nav nav-pills nav-stacked">
          <% if current_user and current_user.is_researcher? %>
            <%= navbar_item "Create", '/create' %>
            <%= navbar_item "Manage", '/scenarios' %>
            <%= navbar_item "Summarize", '/summaries' %>
            <%= navbar_item "Share", '/share' %>
          <% elsif current_user and current_user.is_user? %>
            <%= navbar_item "Manage", '/user_scenarios' %>
          <% end %>
      </ul>
  </nav>
    <h5 class="sidebar-header">Account Settings</h5>
  <div class="setting-list">
      <div class="row">
          <div class="col-xs-8">
              <label for="check1" class="control-label">Share your status</label>
          </div>
          <div class="col-xs-4">
              <input type="checkbox" class="js-switch" checked="" id="check1" data-switchery="true" style="display: none;"><span class="switchery switchery-small" style="border-color: rgb(39, 182, 175); box-shadow: rgb(39, 182, 175) 0px 0px 0px 10px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s; -webkit-transition: border 0.4s, box-shadow 0.4s, background-color 1.2s; background-color: rgb(39, 182, 175);"><small style="left: 13px; transition: left 0.2s; -webkit-transition: left 0.2s; background-color: rgb(255, 255, 255);"></small></span>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-8">
               <label for="check2" class="control-label">Push Notifications</label>
          </div>
          <div class="col-xs-4">
              <input type="checkbox" class="js-switch" id="check2" data-switchery="true" style="display: none;"><span class="switchery switchery-small" style="box-shadow: rgb(179, 184, 195) 0px 0px 0px 0px inset; border-color: rgb(179, 184, 195); transition: border 0.4s, box-shadow 0.4s; -webkit-transition: border 0.4s, box-shadow 0.4s; background-color: rgb(179, 184, 195);"><small style="left: 0px; transition: left 0.2s; -webkit-transition: left 0.2s; background-color: rgb(255, 255, 255);"></small></span>
          </div>
      </div>
  </div>
 </aside>
