<% content_for :title do %>
    Aircraft Report <% if !@prezi.query_params.empty? %> - <%= @prezi.query_params["aircraft_type"] %><% end %>
<% end %>

<% if !@prezi.query_params.empty? %>
  <script type="text/javascript">
    var aircraft_by_location = <%= raw @prezi.aircraft_by_location_json %>;
  </script>
<% end %>

<section class='main-content-header'>
  <h1><%= content_for :title %></h1>
</section>

<section class='main-content'>
  <div class='panel filters-container'>
    <div class='filter-select-container'>
      <h3>Select aircraft type:</h3>
      <select class='selectpicker' id='select-aircraft-type' title='Select'>
        <% @prezi.aircraft_type.each do |type| %>
          <option><%= type %></option>
        <% end %>
      </select>
      <a id='btn-add-filter' class='btn btn-dark-blue'>Select</a>
    </div>
  </div>

  <% if !@prezi.query_params.empty? %>
    <div class="panel panel-default ctn-aircraft-age">
      <div class="panel-heading">
        <p class="panel-title">Aircraft Age by Airline</p>
      </div>

      <div class='panel-body'>
        <div class='table-responsive aircraft-age-table'>
          <table class='table table-hover'>
            <tr>
              <th></th>
              <% @prezi.aircraft_age_by_operator.column_headers.each do |column| %>
                <th><%= column %></th>
              <% end %>
            </tr>
            <% @prezi.aircraft_age_by_operator.rows.each do |row| %>
              <tr>
                <td><%= row.header %></td>
                <% row.data.each do |data| %>
                  <td><%= data[:item_count] %></td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>

    <div class="panel panel-default ctn-aircraft-status">
      <div class="panel-heading">
        <p class="panel-title">Status by Build Year</p>
      </div>

      <div class='panel-body'>
        <div class='table-responsive aircraft-status-table'>
          <table class='table table-hover'>
            <tr>
              <th></th>
              <% @prezi.status_by_build_year.column_headers.each do |column| %>
                <th><%= column %></th>
              <% end %>
            </tr>
            <% @prezi.status_by_build_year.rows.each do |row| %>
              <tr>
                <td><%= row.header %></td>
                <% row.data.each do |data| %>
                  <td><%= data[:item_count] %></td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>

    <div class="panel panel-default ctn-aircraft-location">
      <div class="panel-heading">
        <p class="panel-title">Current Location</p>
      </div>

      <div class='panel-body'>
        <div id="map"></div>
      </div>
    </div>
  <% end %>

</section>
