<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Sonar |
    <% if content_for? :title %>
      <%= content_for :title %>
    <% else %>
      Understanding Users
    <% end %>
  </title>
  <%= favicon_link_tag 'sonarFavicon.ico' %>

  <%= render partial: 'utility/metadata' %>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.configuration.properties['google_browser_key'] %>" async defer></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart", "charteditor"]});
  </script>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/<%= Rails.configuration.properties['chrome_app_id'] %>">
</head>
<body>
  <section id="main-wrapper" class="<%= 'logged-out' if not user_signed_in? %> <%= content_for :main_wrapper_class %>">

    <% if content_for? :nav_left %>
      <%= content_for :nav_left %>
    <% end %>

    <% if content_for? :nav_header %>
      <%= content_for :nav_header %>
    <% else %>
      <%= render partial: 'nav/header' %>
    <% end %>

    <section id="<%= controller_name + '-' + action_name %>" class="main-content-wrapper <%= content_for :main_content_wrapper_class %>">
      <%= yield %>

      <% if content_for? :nav_footer %>
        <%= content_for :nav_footer %>
      <% else %>
        <%= render partial: 'nav/footer' %>
      <% end %>
    </section>
  </section>

  <%= render partial: 'utility/flash' %>
  <%= render partial: 'utility/overlay' %>

  <%= render partial: 'utility/walkthrough' if params[:walkthrough] %>

</body>
</html>
