<!DOCTYPE html>
<html>
<head>
  <title>sonar</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/neeoccancikpmendfnglomhpeckokjei">
</head>
<body>
  <section id="main-wrapper" class="<%= 'logged-out' if not researcher_signed_in? %>">
    <%= render partial: 'nav/left' %>
    <%= render partial: 'nav/header' %>
    <section id="<%= controller_name + '-' + action_name %>" class="main-content-wrapper">
      <%= yield %>
      <%= render partial: 'nav/footer' %>
    </section>
  </section>

  <%= render partial: 'utility/flash' %>

</body>
</html>
