<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Sonar |
    <% if content_for? :title %>
      <%= content_for :title %>
    <% else %>
      Understanding Users
    <% end %>
  </title>
  <%= favicon_link_tag 'sonarFavicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= render partial: 'utility/metadata' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/<%= Rails.configuration.properties['chrome_app_id'] %>">
</head>
<body>
  <section id="main-wrapper" class="<%= 'logged-out' if not researcher_signed_in? %> <%= content_for :main_wrapper_class %>">

    <% if content_for? :nav_left %>
      <%= content_for :nav_left %>
    <% else %>
      <%= render partial: 'nav/left' %>
    <% end %>

    <% if content_for? :nav_header %>
      <%= content_for :nav_header %>
    <% else %>
      <%= render partial: 'nav/header' %>
    <% end %>

    <section id="<%= controller_name + '-' + action_name %>" class="main-content-wrapper <%= content_for :main_content_wrapper_class %>">
      <%= yield %>

      <% if content_for? :nav_footer %>
        <%= content_for :nav_footer %>
      <% else %>
        <%= render partial: 'nav/footer' %>
      <% end %>
    </section>
  </section>

  <%= render partial: 'utility/flash' %>
  <%= render partial: 'utility/overlay' %>

  <%= render partial: 'utility/walkthrough' if params[:walkthrough] %>

<%#=
  <script id='survey-template' type='text/x-template'>
    <div class='survey-wrapper'>
      <div class='survey clearfix' style='display:none'>
        <div class='close'>X</div>
        <div class='nps'>
          <div class='text'>How likely is it that you would recommend us<br/>to a friend or colleague?</div>
          <div class='likeliness'>
            <div>0</div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>10</div>
          </div>
          <span class='not-likely'>Not likely</span>
          <span class='likely'>Very likely</span>
        </div>
        <div class='why' style='display:none'>
          <div class='text'>Are there any particular reasons why?</div>
          <textarea rows='3'></textarea>
          <span class='submit'>Submit</span>
          <span class='nope'>Nope</span>
        </div>
        <div class='thanks' style='display:none'>
          <div>Thanks for your feedback.  We will use it to keep on improving the service for you.</div>
        </div>
      </div>
    </div>
  </script>
%>

</body>
</html>
